@use '../../scss/global';
@use '../../scss/mixins/typography';

:host {
  /* web components are display: inline; by default */
  display: block;
}

button {
  width: 100%;
  text-align: start;
  border: none;
  border-radius: 5px;
  padding: 0;
  background-color: var(--kd-color-background-accent-subtle);
}

.expanded--tile {
  &:focus {
    outline: 2px solid var(--kd-color-background-focus);
    outline-offset: -2px;
  }
  &:hover {
    background: var(--kd-color-background-accent-ui);
  }
  &_container {
    display: flex;
  }
  &_svgIcon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    transition: transform 150ms ease-out;
    color: var(--kd-color-text-link);
  }

  &_tile {
    @include typography.type-headline-08;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: var(--kd-color-background-accent-ui-light);
  }
  &_icon {
    transform: rotate(-180deg);
  }
  &_content {
    display: none;
    padding: 10px;
  }
}

.expanded .expanded--tile_content {
  display: block;
}
