/**
 * Copyright Kyndryl, Inc. 2023
 */

@use '../../scss/global';
@use '../../scss/mixins/typography';

// Base Button Styles
.kd-btn {
  transition: outline-color 0.2s ease-in-out, color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  white-space: nowrap;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  @include typography.type-body-02;

  &--small {
    padding: 4px 16px;
    height: 32px;
  }

  &--medium {
    padding: 12px 16px;
    height: 48px;
  }

  &--large {
    padding: 16px 16px;
    height: 56px;
  }
}

// Disabled Button Styles
@mixin kd-btn-disabled {
  background-color: var(--kd-color-background-disabled);
  color: var(--kd-color-text-inversed);
  border: none;
  cursor: not-allowed;
  pointer-events: none;
}

@mixin kd-btn-focus {
  outline-color: var(--kd-color-border-focus);
}

span {
  display: flex;
  align-items: center;
  z-index: 1;
}

// Primary Button Styles (Web & App)
.kd-btn--primary-web,
.kd-btn--primary-app {
  @extend .kd-btn;
  background-color: var(--kd-color-background-primary);
  color: var(--kd-color-text-inversed);
  border: none;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--kd-color-background-primary-hover);
    transition: transform 300ms ease-out, opacity 200ms ease-out,
      background-color 150ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
  }

  &:hover {
    &:before {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &:active {
    border: none;

    &:before {
      background-color: var(--kd-color-background-primary-pressed);
    }
  }

  &:focus {
    @include kd-btn-focus;
  }

  &:disabled {
    @include kd-btn-disabled;
  }
}

.kd-btn--primary-web {
  background-color: var(--kd-color-background-secondary);

  &:before {
    background-color: var(--kd-color-background-secondary-hover);
  }

  &:active:before {
    background-color: var(--kd-color-background-secondary-pressed);
  }
}

// Primary Destructive Button
.kd-btn--primary-app-destructive,
.kd-btn--primary-web-destructive {
  @extend .kd-btn;
  background-color: var(--kd-color-background-destructive);
  color: var(--kd-color-text-inversed);
  border: none;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--kd-color-background-destructive-hover);
    transition: transform 300ms ease-out, opacity 200ms ease-out,
      background-color 150ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
  }

  &:hover {
    &:before {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &:active:before {
    background-color: var(--kd-color-background-destructive-pressed);
  }

  &:focus {
    @include kd-btn-focus;
  }

  &:disabled {
    @include kd-btn-disabled;
  }
}

// Secondary Button Styles
.kd-btn--secondary {
  @extend .kd-btn;
  background-color: var(--kd-color-transparent);
  color: var(--kd-color-text-primary);
  border: 1px solid var(--kd-color-border-primary);

  &:hover {
    background-color: var(--kd-color-background-secondary-hover);
    color: var(--kd-color-text-inversed);
    border-color: var(--kd-color-background-secondary-hover);
  }

  &:active {
    background-color: var(--kd-color-background-secondary-pressed);
    color: var(--kd-color-text-inversed);
    border-color: var(--kd-color-border-primary);
  }

  &:focus {
    @include kd-btn-focus;
  }

  &:disabled {
    @include kd-btn-disabled;
    background-color: var(--kd-color-transparent);
    color: var(--kd-color-text-disabled);
    border: 1px solid var(--kd-color-border-disabled);
  }
}

// Secondary Destructive Button
.kd-btn--secondary-destructive {
  @extend .kd-btn--secondary;
  color: var(--kd--color-text-destructive);
  border-color: var(--kd-color-border-destructive);

  &:hover,
  &:active {
    background-color: var(--kd-color-background-destructive-hover);
    color: var(--kd-color-text-inversed);
    border-color: transparent;
  }
}

// Tertiary Button Styles
.kd-btn--tertiary {
  @extend .kd-btn;
  background-color: var(--kd-color-transparent);
  color: var(--kd-color-text-tertiary);
  border: none;

  &:hover,
  &:active {
    background-color: var(--kd-color-background-accent-stone);
  }

  &:active {
    color: var(--kd-color-text-tertiary-bold);
  }

  &:focus {
    @include kd-btn-focus;
  }

  &:disabled {
    @include kd-btn-disabled;
    background-color: var(--kd-color-transparent);
    color: var(--kd-color-text-disabled);
  }
}

// Tertiary Destructive Button
.kd-btn--tertiary-destructive {
  @extend .kd-btn--tertiary;
  color: var(--kd--color-text-destructive);

  &:hover,
  &:active,
  &:focus {
    color: var(--kd--color-text-destructive);
  }
}

.kd-btn--icon {
  // Styles for buttons with icons on the left side
  &-left span {
    // Reverse the flex direction to place the icon to the left
    flex-direction: row-reverse;

    // Styling for the actual icon within the button
    slot[name='icon']::slotted(*) {
      // Add margin to the right to space the icon from the text
      margin-right: 8px;
    }
  }

  // Styles for buttons with icons on the right side
  &-right {
    // Styling for the actual icon within the button
    slot[name='icon']::slotted(*) {
      // Add margin to the left to space the icon from the text
      margin-left: 8px;
    }
  }
}
