@use '../variables/breakpoints.scss';
@use '../mixins/grid.scss';

.kd-grid-container {
  margin: 0 auto;
  max-width: var(--kd-grid-container-max-width);
}

.kd-grid {
  @include grid.grid;

  &--no-pad {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &--align-left {
    margin: 0;
  }

  &--no-max {
    max-width: none;
  }

  // generate sm classes
  @for $i from 1 through 4 {
    &__col--sm-#{$i} {
      @include grid.grid-col($i);
    }
  }

  // generate md classes
  @for $i from 1 through 8 {
    &__col--md-#{$i} {
      @media (min-width: breakpoints.$bp-md) {
        @include grid.grid-col($i);
      }
    }
  }

  // generate lg, xlg, max classes
  @for $i from 1 through 12 {
    &__col--lg-#{$i} {
      @media (min-width: breakpoints.$bp-lg) {
        @include grid.grid-col($i);
      }
    }

    &__col--xl-#{$i} {
      @media (min-width: breakpoints.$bp-xl) {
        @include grid.grid-col($i);
      }
    }

    &__col--max-#{$i} {
      @media (min-width: breakpoints.$bp-max) {
        @include grid.grid-col($i);
      }
    }
  }
}
