@use '../mixins/typography.scss';

// generate hero class
@for $i from 1 through 4 {
  .kd-type--hero-0#{$i} {
    @include typography.type-hero-0($i);
  }
}
// generate display class
@for $i from 1 through 3 {
  .kd-type--display-0#{$i} {
    @include typography.type-display-0($i);
  }
}
// generate headline class
@for $i from 1 through 8 {
  .kd-type--headline-0#{$i} {
    @include typography.type-headline-0($i);
  }
}

.kd-type--body-01 {
  @include typography.type-body-01;
}

.kd-type--body-02 {
  @include typography.type-body-02;
}

// generate ui class
@for $i from 1 through 5 {
  .kd-type--ui-0#{$i} {
    @include typography.type-ui-0($i);
  }
}

//Font-weight-classes

.kd-type--weight-ultralight {
  font-weight: var(--kd-font-weight-ultralight);
}

.kd-type--weight-light {
  font-weight: var(--kd-font-weight-light);
}

.kd-type--weight-regular {
  font-weight: var(--kd-font-weight-regular);
}

.kd-type--weight-medium {
  font-weight: var(--kd-font-weight-medium);
}

.kd-type--weight-bold {
  font-weight: var(--kd-font-weight-bold);
}
