@mixin darkstone-80 {
  --kd-color-background-ui-default: var(--kd-color-darkstone-80);
  --kd-color-background-primary: var(--kd-color-coolgray-40);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-darkstone-60);
  --kd-color-background-secondary-pressed: var(--kd-color-darkstone-100);
}

@mixin spruce-80 {
  --kd-color-background-ui-default: var(--kd-color-spruce-80);
  --kd-color-background-primary: var(--kd-color-spruce-30);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-spruce-50);
  --kd-color-background-secondary-pressed: var(--kd-color-spruce-100);
}

@mixin spruce-60 {
  --kd-color-background-ui-default: var(--kd-color-spruce-60);
  --kd-color-background-primary: var(--kd-color-springgreen-10);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-spruce-50);
  --kd-color-background-secondary-pressed: var(--kd-color-spruce-80);
}

@mixin springgreen-60 {
  --kd-color-background-ui-default: var(--kd-color-darkspringgreen-60);
  --kd-color-background-primary: var(--kd-color-springgreen-20);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-springgreen-50);
  --kd-color-background-secondary-pressed: var(--kd-color-springgreen-70);
}

@mixin springgreen-20 {
  --kd-color-background-ui-default: var(--kd-color-springgreen-20);
  --kd-color-background-primary: var(--kd-color-spruce-70);
  --kd-color-background-secondary: var(--kd-color-darkstone-80);
  --kd-color-background-secondary-hover: var(--kd-color-darkstone-60);
  --kd-color-background-secondary-pressed: var(--kd-color-darkstone-100);
}

@mixin warmred-50 {
  --kd-color-background-ui-default: var(--kd-color-warmred-50);
  --kd-color-background-primary: var(--kd-color-darkstone-80);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-warmred-40);
  --kd-color-background-secondary-pressed: var(--kd-color-coolgray-60);
}
