@mixin darkstone-80 {
  /* Text colors */
  --kd-color-text-primary: var(--kd-color-neutral-white);
  --kd-color-text-primary-hover: var(--kd-color-darkstone-60);
  --kd-color-text-secondary: var(--kd-color-neutral-white);
  --kd-color-text-tertiary: var(--kd-color-darkstone-50);
  --kd-color-text-tertiary-bold: var(--kd-color-darkstone-100);
  --kd-color-text-eyebrow: var(--kd-color-springgreen-20);
  --kd-color-text-brand: var(--kd-color-warmred-50);
  --kd-color-text-inversed: var(--kd-color-darkstone-100);
  --kd-color-text-disabled: var(--kd-color-darkstone-60);

  /* Background colors */
  --kd-color-background-ui-default: var(--kd-color-darkstone-80);
  --kd-color-background-brand: var(--kd-color-warmred-50);
  --kd-color-background-primary: var(--kd-color-coolgray-40);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-darkstone-60);
  --kd-color-background-secondary-pressed: var(--kd-color-darkstone-100);
  --kd-color-background-accent-primary: var(--kd-color-springgreen-20);
  --kd-color-background-accent-secondary: var(--kd-color-coolgray-40);
  --kd-color-background-accent-tertiary: var(--kd-color-darkstone-70);
  --kd-color-background-disabled: var(--kd-color-darkstone-60);

  /* Border colors */
  --kd-color-border-primary: var(--kd-color-neutral-white);
  --kd-color-border-secondary: var(--kd-color-darkstone-10);
  --kd-color-border-ui-disabled: var(--kd-color-darkstone-60);
  --kd-color-border-tertiary: var(--kd-color-darkstone-10);
  --kd-color-border-tertiary-bold: var(--kd-color-darkstone-100);
  --kd-color-border-brand: var(--kd-color-warmred-50);
  --kd-color-border-inverse: var(--kd-color-darkstone-10);
  --kd-color-border-hover: var(--kd-color-darkstone-60);
  --kd-color-border-disabled: var(--kd-color-darkstone-60);
}

@mixin spruce-80 {
  /* Text colors */
  --kd-color-text-primary: var(--kd-color-neutral-white);
  --kd-color-text-primary-hover: var(--kd-color-spruce-50);
  --kd-color-text-secondary: var(--kd-color-neutral-white);
  --kd-color-text-tertiary: var(--kd-color-spruce-30);
  --kd-color-text-tertiary-bold: var(--kd-color-spruce-100);
  --kd-color-text-eyebrow: var(--kd-color-springgreen-20);
  --kd-color-text-brand: var(--kd-color-springgreen-20);
  --kd-color-text-inversed: var(--kd-color-spruce-100);
  --kd-color-text-disabled: var(--kd-color-darkstone-20);

  /* Background colors */
  --kd-color-background-ui-default: var(--kd-color-spruce-80);
  --kd-color-background-brand: var(--kd-color-springgreen-20);
  --kd-color-background-primary: var(--kd-color-spruce-30);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-spruce-50);
  --kd-color-background-secondary-pressed: var(--kd-color-spruce-100);
  --kd-color-background-accent-primary: var(--kd-color-springgreen-20);
  --kd-color-background-accent-secondary: var(--kd-color-spruce-30);
  --kd-color-background-accent-tertiary: var(--kd-color-spruce-70);
  --kd-color-background-disabled: var(--kd-color-darkstone-20);

  /* Border colors */
  --kd-color-border-primary: var(--kd-color-neutral-white);
  --kd-color-border-secondary: var(--kd-color-spruce-30);
  --kd-color-border-ui-disabled: var(--kd-color-darkstone-20);
  --kd-color-border-tertiary: var(--kd-color-spruce-30);
  --kd-color-border-tertiary-bold: var(--kd-color-springgreen-20);
  --kd-color-border-brand: var(--kd-color-springgreen-20);
  --kd-color-border-inverse: var(--kd-color-spruce-30);
  --kd-color-border-hover: var(--kd-color-spruce-50);
  --kd-color-border-disabled: var(--kd-color-darkstone-20);
}

@mixin spruce-60 {
  /* Text colors */
  --kd-color-text-primary: var(--kd-color-neutral-white);
  --kd-color-text-primary-hover: var(--kd-color-spruce-50);
  --kd-color-text-secondary: var(--kd-color-neutral-white);
  --kd-color-text-tertiary: var(--kd-color-spruce-30);
  --kd-color-text-tertiary-bold: var(--kd-color-spruce-100);
  --kd-color-text-eyebrow: var(--kd-color-springgreen-20);
  --kd-color-text-brand: var(--kd-color-springgreen-20);
  --kd-color-text-inversed: var(--kd-color-spruce-80);
  --kd-color-text-disabled: var(--kd-color-darkstone-20);

  /* Background colors */
  --kd-color-background-ui-default: var(--kd-color-spruce-60);
  --kd-color-background-brand: var(--kd-color-springgreen-20);
  --kd-color-background-primary: var(--kd-color-springgreen-10);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-spruce-50);
  --kd-color-background-secondary-pressed: var(--kd-color-spruce-80);
  --kd-color-background-accent-primary: var(--kd-color-springgreen-20);
  --kd-color-background-accent-secondary: var(--kd-color-springgreen-10);
  --kd-color-background-accent-tertiary: var(--kd-color-spruce-50);
  --kd-color-background-disabled: var(--kd-color-darkstone-20);

  /* Border colors */
  --kd-color-border-primary: var(--kd-color-neutral-white);
  --kd-color-border-secondary: var(--kd-color-spruce-30);
  --kd-color-border-ui-disabled: var(--kd-color-darkstone-20);
  --kd-color-border-tertiary: var(--kd-color-spruce-30);
  --kd-color-border-tertiary-bold: var(--kd-color-springgreen-20);
  --kd-color-border-brand: var(--kd-color-springgreen-20);
  --kd-color-border-inverse: var(--kd-color-spruce-30);
  --kd-color-border-hover: var(--kd-color-spruce-50);
  --kd-color-border-disabled: var(--kd-color-darkstone-20);
}

@mixin springgreen-60 {
  /* Text colors */
  --kd-color-text-primary: var(--kd-color-neutral-white);
  --kd-color-text-primary-hover: var(--kd-color-springgreen-50);
  --kd-color-text-secondary: var(--kd-color-neutral-white);
  --kd-color-text-tertiary: var(--kd-color-springgreen-20);
  --kd-color-text-tertiary-bold: var(--kd-color-springgreen-80);
  --kd-color-text-eyebrow: var(--kd-color-springgreen-10);
  --kd-color-text-brand: var(--kd-color-springgreen-10);
  --kd-color-text-inversed: var(--kd-color-springgreen-80);
  --kd-color-text-disabled: var(--kd-color-darkstone-20);

  /* Background colors */
  --kd-color-background-ui-default: var(--kd-color-darkspringgreen-60);
  --kd-color-background-brand: var(--kd-color-springgreen-10);
  --kd-color-background-primary: var(--kd-color-springgreen-20);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-springgreen-50);
  --kd-color-background-secondary-pressed: var(--kd-color-springgreen-70);
  --kd-color-background-accent-primary: var(--kd-color-springgreen-10);
  --kd-color-background-accent-secondary: var(--kd-color-springgreen-20);
  --kd-color-background-accent-tertiary: var(--kd-color-springgreen-50);
  --kd-color-background-disabled: var(--kd-color-darkstone-20);

  /* Border colors */
  --kd-color-border-primary: var(--kd-color-neutral-white);
  --kd-color-border-secondary: var(--kd-color-springgreen-20);
  --kd-color-border-ui-disabled: var(--kd-color-darkstone-20);
  --kd-color-border-tertiary: var(--kd-color-springgreen-20);
  --kd-color-border-tertiary-bold: var(--kd-color-springgreen-10);
  --kd-color-border-brand: var(--kd-color-springgreen-10);
  --kd-color-border-inverse: var(--kd-color-springgreen-20);
  --kd-color-border-hover: var(--kd-color-springgreen-50);
  --kd-color-border-disabled: var(--kd-color-darkstone-20);
}

@mixin springgreen-20 {
  /* Text colors */
  --kd-color-text-primary: var(--kd-color-darkstone-80);
  --kd-color-text-primary-hover: var(--kd-color-darkstone-60);
  --kd-color-text-secondary: var(--kd-color-deepforest-90);
  --kd-color-text-tertiary: var(--kd-color-spruce-70);
  --kd-color-text-tertiary-bold: var(--kd-color-spruce-100);
  --kd-color-text-eyebrow: var(--kd-color-deepforest-90);
  --kd-color-text-brand: var(--kd-color-deepforest-90);
  --kd-color-text-inversed: var(--kd-color-deepforest-90);
  --kd-color-text-disabled: var(--kd-color-darkstone-20);

  /* Background colors */
  --kd-color-background-ui-default: var(--kd-color-springgreen-20);
  --kd-color-background-brand: var(--kd-color-deepforest-90);
  --kd-color-background-primary: var(--kd-color-spruce-70);
  --kd-color-background-secondary: var(--kd-color-darkstone-80);
  --kd-color-background-secondary-hover: var(--kd-color-darkstone-60);
  --kd-color-background-secondary-pressed: var(--kd-color-darkstone-100);
  --kd-color-background-accent-primary: var(--kd-color-deepforest-90);
  --kd-color-background-accent-secondary: var(--kd-color-spruce-70);
  --kd-color-background-accent-tertiary: var(--kd-color-springgreen-30);
  --kd-color-background-disabled: var(--kd-color-darkstone-20);

  /* Border colors */
  --kd-color-border-primary: var(--kd-color-darkstone-80);
  --kd-color-border-secondary: var(--kd-color-spruce-70);
  --kd-color-border-ui-disabled: var(--kd-color-darkstone-20);
  --kd-color-border-tertiary: var(--kd-color-spruce-70);
  --kd-color-border-tertiary-bold: var(--kd-color-deepforest-90);
  --kd-color-border-brand: var(--kd-color-deepforest-90);
  --kd-color-border-inverse: var(--kd-color-spruce-70);
  --kd-color-border-hover: var(--kd-color-springgreen-50);
  --kd-color-border-disabled: var(--kd-color-darkstone-20);
}

@mixin warmred-50 {
  /* Text colors */
  --kd-color-text-primary: var(--kd-color-neutral-white);
  --kd-color-text-primary-hover: var(--kd-color-warmred-40);
  --kd-color-text-secondary: var(--kd-color-neutral-white);
  --kd-color-text-tertiary: var(--kd-color-darkstone-80);
  --kd-color-text-tertiary-bold: var(--kd-color-darkstone-100);
  --kd-color-text-eyebrow: var(--kd-color-neutral-white);
  --kd-color-text-brand: var(--kd-color-neutral-white);
  --kd-color-text-inversed: var(--kd-color-warmred-70);
  --kd-color-text-disabled: var(--kd-color-darkstone-20);

  /* Background colors */
  --kd-color-background-ui-default: var(--kd-color-warmred-50);
  --kd-color-background-brand: var(--kd-color-neutral-white);
  --kd-color-background-primary: var(--kd-color-darkstone-80);
  --kd-color-background-secondary: var(--kd-color-darkstone-10);
  --kd-color-background-secondary-hover: var(--kd-color-warmred-40);
  --kd-color-background-secondary-pressed: var(--kd-color-coolgray-60);
  --kd-color-background-accent-primary: var(--kd-color-neutral-white);
  --kd-color-background-accent-secondary: var(--kd-color-darkstone-80);
  --kd-color-background-accent-tertiary: var(--kd-color-warmred-40);
  --kd-color-background-disabled: var(--kd-color-darkstone-20);

  /* Border colors */
  --kd-color-border-primary: var(--kd-color-darkstone-80);
  --kd-color-border-secondary: var(--kd-color-darkstone-80);
  --kd-color-border-ui-disabled: var(--kd-color-darkstone-20);
  --kd-color-border-tertiary: var(--kd-color-darkstone-80);
  --kd-color-border-tertiary-bold: var(--kd-color-neutral-white);
  --kd-color-border-brand: var(--kd-color-neutral-white);
  --kd-color-border-inverse: var(--kd-color-darkstone-80);
  --kd-color-border-hover: var(--kd-color-warmred-40);
  --kd-color-border-disabled: var(--kd-color-darkstone-20);
}
