@use '../variables/breakpoints.scss';

@mixin type-hero-01 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-hero-1-sm);
    line-height: var(--k-line-height-hero-1-sm);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-hero-1-md);
    line-height: var(--k-line-height-hero-1-md);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-hero-1-lg);
    line-height: var(--k-line-height-hero-1-lg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-hero-1-max-xlg);
    line-height: var(--k-line-height-hero-1-max-xlg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-hero-1-max-xlg);
    line-height: var(--k-line-height-hero-1-max-xlg);
    letter-spacing: var(--k-letter-spacing-1);
  }
}

@mixin type-hero-02 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-hero-2-sm);
    line-height: var(--k-line-height-hero-2-sm);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-hero-2-md);
    line-height: var(--k-line-height-hero-2-md);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-hero-2-lg);
    line-height: var(--k-line-height-hero-2-lg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-hero-2-xlg);
    line-height: var(--k-line-height-hero-2-xlg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-hero-2-max);
    line-height: var(--k-line-height-hero-2-max);
    letter-spacing: var(--k-letter-spacing-1);
  }
}

@mixin type-hero-03 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-hero-3-sm);
    line-height: var(--k-line-height-hero-3-sm);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-hero-3-md);
    line-height: var(--k-line-height-hero-3-md);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-hero-3-lg);
    line-height: var(--k-line-height-hero-3-lg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-hero-3-xlg);
    line-height: var(--k-line-height-hero-3-xlg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-hero-3-max);
    line-height: var(--k-line-height-hero-3-max);
    letter-spacing: var(--k-letter-spacing-1);
  }
}

@mixin type-display-01 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-display-1-sm);
    line-height: var(--k-line-height-display-1-sm);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-display-1-md);
    line-height: var(--k-line-height-display-1-md);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-display-1-lg);
    line-height: var(--k-line-height-display-1-lg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-display-1-xlg);
    line-height: var(--k-line-height-display-1-xlg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-display-1-max);
    line-height: var(--k-line-height-display-1-max);
    letter-spacing: var(--k-letter-spacing-1);
  }
}

@mixin type-display-02 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-display-2-sm);
    line-height: var(--k-line-height-display-2-sm);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-display-2-md);
    line-height: var(--k-line-height-display-2-md);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-display-2-lg);
    line-height: var(--k-line-height-display-2-lg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-display-2-xlg);
    line-height: var(--k-line-height-display-2-xlg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-display-2-max);
    line-height: var(--k-line-height-display-2-max);
    letter-spacing: var(--k-letter-spacing-1);
  }
}

@mixin type-display-03 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-display-3-sm);
    line-height: var(--k-line-height-display-3-sm);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-display-3-md);
    line-height: var(--k-line-height-display-3-md);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-display-3-lg);
    line-height: var(--k-line-height-display-3-lg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-display-3-xlg);
    line-height: var(--k-line-height-display-3-xlg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-display-3-max);
    line-height: var(--k-line-height-display-3-max);
    letter-spacing: var(--k-letter-spacing-1);
  }
}

@mixin type-display-04 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-display-4-sm);
    line-height: var(--k-line-height-display-4-sm);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-display-4-md);
    line-height: var(--k-line-height-display-4-md);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-display-4-lg);
    line-height: var(--k-line-height-display-4-lg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-display-4-xlg);
    line-height: var(--k-line-height-display-4-xlg);
    letter-spacing: var(--k-letter-spacing-1);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-display-4-max);
    line-height: var(--k-line-height-display-4-max);
    letter-spacing: var(--k-letter-spacing-1);
  }
}

@mixin type-headline-01 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-headline-1-md-sm);
    line-height: var(--k-line-height-headline-1-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-headline-1-md-sm);
    line-height: var(--k-line-height-headline-1-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-headline-1-lg);
    line-height: var(--k-line-height-headline-1-lg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-headline-1-xlg);
    line-height: var(--k-line-height-headline-1-max-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-headline-1-max);
    line-height: var(--k-line-height-headline-1-max-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }
}

@mixin type-headline-02 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-headline-2-md-sm);
    line-height: var(--k-line-height-headline-2-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-headline-2-md-sm);
    line-height: var(--k-line-height-headline-2-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-headline-2-lg);
    line-height: var(--k-line-height-headline-2-lg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-headline-2-xlg);
    line-height: var(--k-line-height-headline-2-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-headline-2-max);
    line-height: var(--k-line-height-headline-2-max);
    letter-spacing: var(--k-letter-spacing-3);
  }
}

@mixin type-headline-03 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-headline-3-md-sm);
    line-height: var(--k-line-height-headline-3-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-headline-3-md-sm);
    line-height: var(--k-line-height-headline-3-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-headline-3-lg);
    line-height: var(--k-line-height-headline-3-lg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-headline-3-xlg);
    line-height: var(--k-line-height-headline-3-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-headline-3-max);
    line-height: var(--k-line-height-headline-3-max);
    letter-spacing: var(--k-letter-spacing-3);
  }
}

@mixin type-headline-04 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-headline-4-md-sm);
    line-height: var(--k-line-height-headline-4-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-headline-4-md-sm);
    line-height: var(--k-line-height-headline-4-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-headline-4-lg);
    line-height: var(--k-line-height-headline-4-lg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-headline-4-xlg);
    line-height: var(--k-line-height-headline-4-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-headline-4-max);
    line-height: var(--k-line-height-headline-4-max);
    letter-spacing: var(--k-letter-spacing-3);
  }
}

@mixin type-headline-05 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-headline-5-md-sm);
    line-height: var(--k-line-height-headline-5-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-headline-5-md-sm);
    line-height: var(--k-line-height-headline-5-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-headline-5-lg);
    line-height: var(--k-line-height-headline-5-lg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-headline-5-xlg);
    line-height: var(--k-line-height-headline-5-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-headline-5-max);
    line-height: var(--k-line-height-headline-5-max);
    letter-spacing: var(--k-letter-spacing-3);
  }
}

@mixin type-headline-06 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-headline-6-md-sm);
    line-height: var(--k-line-height-headline-6-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-headline-6-md-sm);
    line-height: var(--k-line-height-headline-6-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-headline-6-lg);
    line-height: var(--k-line-height-headline-6-lg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-headline-6-xlg);
    line-height: var(--k-line-height-headline-6-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-headline-6-max);
    line-height: var(--k-line-height-headline-6-max);
    letter-spacing: var(--k-letter-spacing-3);
  }
}

@mixin type-headline-07 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-headline-7-md-sm);
    line-height: var(--k-line-height-headline-7-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-headline-7-md-sm);
    line-height: var(--k-line-height-headline-7-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-headline-7-lg);
    line-height: var(--k-line-height-headline-7-lg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-headline-7-xlg);
    line-height: var(--k-line-height-headline-7-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-headline-7-max);
    line-height: var(--k-line-height-headline-7-max);
    letter-spacing: var(--k-letter-spacing-3);
  }
}

@mixin type-headline-08 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-headline-8-md-sm);
    line-height: var(--k-line-height-headline-8-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-headline-8-md-sm);
    line-height: var(--k-line-height-headline-8-md-sm);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-headline-8-lg);
    line-height: var(--k-line-height-headline-8-lg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-headline-8-xlg);
    line-height: var(--k-line-height-headline-8-xlg);
    letter-spacing: var(--k-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-headline-8-max);
    line-height: var(--k-line-height-headline-8-max);
    letter-spacing: var(--k-letter-spacing-3);
  }
}

@mixin type-body-01 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-body-1-md-sm);
    line-height: var(--k-line-height-body-1-md-sm);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-body-1-md-sm);
    line-height: var(--k-line-height-body-1-md-sm);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-body-1-lg);
    line-height: var(--k-line-height-body-1-lg);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-body-1-xlg);
    line-height: var(--k-line-height-body-1-xlg);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-body-1-max);
    line-height: var(--k-line-height-body-1-max);
    letter-spacing: var(--k-letter-spacing-4);
  }
}

@mixin type-body-02 {
  font-family: var(--k-font-family-secondary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-body-2-md-sm);
    line-height: var(--k-line-height-body-2-md-sm);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-body-2-md-sm);
    line-height: var(--k-line-height-body-2-md-sm);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-body-2-lg);
    line-height: var(--k-line-height-body-2-lg);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-body-2-xlg);
    line-height: var(--k-line-height-body-2-xlg);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-body-2-max);
    line-height: var(--k-line-height-body-2-max);
    letter-spacing: var(--k-letter-spacing-4);
  }
}

@mixin type-ui-01 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-utility-1-md-sm);
    line-height: var(--k-line-height-utility-1-md-sm);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-utility-1-md-sm);
    line-height: var(--k-line-height-utility-1-md-sm);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-utility-1-lg);
    line-height: var(--k-line-height-utility-1-lg);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-utility-1-xlg);
    line-height: var(--k-line-height-utility-1-xlg);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-utility-1-max);
    line-height: var(--k-line-height-utility-1-max);
    letter-spacing: var(--k-letter-spacing-4);
  }
}

@mixin type-ui-02 {
  font-family: var(--k-font-family-secondary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-utility-2-md-sm);
    line-height: var(--k-line-height-utility-2-md-sm);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-utility-2-md-sm);
    line-height: var(--k-line-height-utility-2-md-sm);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-utility-2-lg);
    line-height: var(--k-line-height-utility-2-lg);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-utility-2-xlg);
    line-height: var(--k-line-height-utility-2-xlg);
    letter-spacing: var(--k-letter-spacing-4);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-utility-2-max);
    line-height: var(--k-line-height-utility-2-max);
    letter-spacing: var(--k-letter-spacing-4);
  }
}

@mixin type-ui-03 {
  font-family: var(--k-font-family-secondary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-utility-3-regular);
    line-height: var(--k-line-height-utility-3-regular);
    letter-spacing: var(--k-letter-spacing-5);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-utility-3-regular);
    line-height: var(--k-line-height-utility-3-regular);
    letter-spacing: var(--k-letter-spacing-5);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-utility-3-regular);
    line-height: var(--k-line-height-utility-3-regular);
    letter-spacing: var(--k-letter-spacing-5);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-utility-3-regular);
    line-height: var(--k-line-height-utility-3-regular);
    letter-spacing: var(--k-letter-spacing-5);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-utility-3-regular);
    line-height: var(--k-line-height-utility-3-regular);
    letter-spacing: var(--k-letter-spacing-5);
  }
}

@mixin type-ui-04 {
  font-family: var(--k-font-family-primary);
  @media (min-width: breakpoints.$bp-sm) {
    font-size: var(--k-font-size-utility-4-md-sm);
    line-height: var(--k-line-height-utility-4-md-sm);
    letter-spacing: var(--k-letter-spacing-5);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--k-font-size-utility-4-md-sm);
    line-height: var(--k-line-height-utility-4-md-sm);
    letter-spacing: var(--k-letter-spacing-5);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--k-font-size-utility-4-lg);
    line-height: var(--k-line-height-utility-4-lg);
    letter-spacing: var(--k-letter-spacing-5);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--k-font-size-utility-4-xlg);
    line-height: var(--k-line-height-utility-4-xlg);
    letter-spacing: var(--k-letter-spacing-5);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--k-font-size-utility-4-max);
    line-height: var(--k-line-height-utility-4-max);
    letter-spacing: var(--k-letter-spacing-5);
  }
}
