@use '../variables/breakpoints.scss';

/* Hero type-scale mixin from type-hero-01 to type-hero-04: */

@mixin type-hero-0($span) {
  font-family: var(--kd-font-family-primary);
  font-size: var(--kd-font-size-hero-#{$span}-sm);
  line-height: var(--kd-line-height-hero-#{$span}-sm);
  font-weight: var(--kd-font-weight-ultralight);
  letter-spacing: var(--kd-letter-spacing-1);

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--kd-font-size-hero-#{$span}-md);
    line-height: var(--kd-line-height-hero-#{$span}-md);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--kd-font-size-hero-#{$span}-lg);
    line-height: var(--kd-line-height-hero-#{$span}-lg);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--kd-font-size-hero-#{$span}-xlg);
    line-height: var(--kd-line-height-hero-#{$span}-xlg);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--kd-font-size-hero-#{$span}-max);
    line-height: var(--kd-line-height-hero-#{$span}-max);
  }
}

/* display type-scale mixin from type-dispay-01 to type-display-03 */

@mixin type-display-0($span) {
  font-family: var(--kd-font-family-primary);
  font-size: var(--kd-font-size-display-#{$span}-sm);
  line-height: var(--kd-line-height-display-#{$span}-sm);
  font-weight: var(--kd-font-weight-ultralight);
  letter-spacing: var(--kd-letter-spacing-2);

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--kd-font-size-display-#{$span}-md);
    line-height: var(--kd-line-height-display-#{$span}-md);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--kd-font-size-display-#{$span}-lg);
    line-height: var(--kd-line-height-display-#{$span}-lg);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--kd-font-size-display-#{$span}-xlg);
    line-height: var(--kd-line-height-display-#{$span}-xlg);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--kd-font-size-display-#{$span}-max);
    line-height: var(--kd-line-height-display-#{$span}-max);
  }
}

/* Headline type-scale mixin from type-headline-01 to type-headline-08: */

@mixin type-headline-0($span) {
  font-family: var(--kd-font-family-primary);
  font-size: var(--kd-font-size-headline-#{$span}-sm);
  line-height: var(--kd-line-height-headline-#{$span}-sm);

  @if $span <= 3 {
    font-weight: var(--kd-font-weight-light);
    letter-spacing: var(--kd-letter-spacing-2);
  } @else {
    font-weight: var(--kd-font-weight-regular);
    letter-spacing: var(--kd-letter-spacing-3);
  }

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--kd-font-size-headline-#{$span}-md);
    line-height: var(--kd-line-height-headline-#{$span}-md);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--kd-font-size-headline-#{$span}-lg);
    line-height: var(--kd-line-height-headline-#{$span}-lg);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--kd-font-size-headline-#{$span}-xlg);
    line-height: var(--kd-line-height-headline-#{$span}-xlg);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--kd-font-size-headline-#{$span}-max);
    line-height: var(--kd-line-height-headline-#{$span}-max);
  }
}

@mixin type-body-01 {
  font-family: var(--kd-font-family-primary);
  font-size: var(--kd-font-size-body-1-sm);
  line-height: var(--kd-line-height-body-1-sm);
  font-weight: var(--kd-font-weight-regular);
  letter-spacing: var(--kd-letter-spacing-4);

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--kd-font-size-body-1-md);
    line-height: var(--kd-line-height-body-1-md);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--kd-font-size-body-1-lg);
    line-height: var(--kd-line-height-body-1-lg);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--kd-font-size-body-1-xlg);
    line-height: var(--kd-line-height-body-1-xlg);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--kd-font-size-body-1-max);
    line-height: var(--kd-line-height-body-1-max);
  }
}

@mixin type-body-02 {
  font-family: var(--kd-font-family-secondary);
  font-size: var(--kd-font-size-body-2-sm);
  line-height: var(--kd-line-height-body-2-sm);
  font-weight: var(--kd-font-weight-regular);
  letter-spacing: var(--kd-letter-spacing-4);

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--kd-font-size-body-2-md);
    line-height: var(--kd-line-height-body-2-md);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--kd-font-size-body-2-lg);
    line-height: var(--kd-line-height-body-2-lg);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--kd-font-size-body-2-xlg);
    line-height: var(--kd-line-height-body-2-xlg);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--kd-font-size-body-2-max);
    line-height: var(--kd-line-height-body-2-max);
  }
}

/* ui type-scale mixin from type-ui-01 to type-ui-05: */

@mixin type-ui-0($span) {
  font-family: var(--kd-font-family-primary);
  font-size: var(--kd-font-size-utility-#{$span}-sm);
  line-height: var(--kd-line-height-utility-#{$span}-sm);
  font-weight: var(--kd-font-weight-regular);
  letter-spacing: var(--kd-letter-spacing-5);

  @media (min-width: breakpoints.$bp-md) {
    font-size: var(--kd-font-size-utility-#{$span}-md);
    line-height: var(--kd-line-height-utility-#{$span}-md);
  }

  @media (min-width: breakpoints.$bp-lg) {
    font-size: var(--kd-font-size-utility-#{$span}-lg);
    line-height: var(--kd-line-height-utility-#{$span}-lg);
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: var(--kd-font-size-utility-#{$span}-xlg);
    line-height: var(--kd-line-height-utility-#{$span}-xlg);
  }

  @media (min-width: breakpoints.$bp-max) {
    font-size: var(--kd-font-size-utility-#{$span}-max);
    line-height: var(--kd-line-height-utility-#{$span}-max);
  }
}
