$bp-sm: 20rem;
$bp-md: 42rem;
$bp-lg: 74rem;
$bp-xl: 82rem;
$bp-max: 99rem;

:root {
  --kd-current-breakpoint: sm;

  @media (min-width: $bp-md) {
    --kd-current-breakpoint: md;
  }

  @media (min-width: $bp-lg) {
    --kd-current-breakpoint: lg;
  }

  @media (min-width: $bp-xl) {
    --kd-current-breakpoint: xl;
  }

  @media (min-width: $bp-max) {
    --kd-current-breakpoint: max;
  }
}
