:root {
  --kd-color-main-palette-primary: light-dark(var(--kd-color-indigo-70), var(--kd-color-indigo-70));
  --kd-color-main-palette-secondary: light-dark(var(--kd-color-spruce-60-secondary), var(--kd-color-spruce-60-secondary));
  --kd-color-main-palette-tertiary: light-dark(var(--kd-color-spring-green-20-tertiary), var(--kd-color-spring-green-20-tertiary));
  --kd-color-main-palette-accent: light-dark(var(--kd-color-warm-red-50-accent), var(--kd-color-warm-red-50-accent));
  --kd-color-buttons-primary: light-dark(var(--kd-color-indigo-80-primary), var(--kd-color-indigo-80-primary));
  --kd-color-buttons-secondary: light-dark(var(--kd-color-indigo-60), var(--kd-color-indigo-90));
  --kd-color-buttons-tertiary: light-dark(var(--kd-color-indigo-10), var(--kd-color-indigo-105));
  --kd-color-buttons-dark-label: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-dark-stone-20));
  --kd-color-buttons-light-label: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-dark-stone-20));
  --kd-color-containers-container-bg: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-opacity-light-3));
  --kd-color-containers-container-child-bg: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-opacity-light-3));
  --kd-color-containers-interactive-container-active: light-dark(var(--kd-color-indigo-10), var(--kd-color-opacity-light-5));
  --kd-color-containers-interactive-container-inactive: light-dark(var(--kd-color-indigo-5), var(--kd-color-opacity-light-3));
  --kd-color-containers-utility-container: light-dark(var(--kd-color-indigo-10), var(--kd-color-indigo-107));
  --kd-color-containers-interactive-flat-container: light-dark(var(--kd-color-indigo-5), var(--kd-color-indigo-107));
  --kd-color-containers-container-footer: light-dark(var(--kd-color-indigo-15), var(--kd-color-indigo-105));
  --kd-color-gradients-and-shadows-interactive-gradient-start: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-indigo-107));
  --kd-color-gradients-and-shadows-interactive-gradient-end: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-indigo-100));
  --kd-color-gradients-and-shadows-container-dropshadow-1: light-dark(var(--kd-color-opacity-dark-10), var(--kd-color-opacity-dark-10));
  --kd-color-gradients-and-shadows-container-dropshadow-2: light-dark(var(--kd-color-opacity-dark-3), var(--kd-color-opacity-dark-10));
  --kd-color-navigation-nav-bg: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-indigo-110));
  --kd-color-navigation-footer-bg: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-indigo-110));
  --kd-color-navigation-local-nav-bg: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-indigo-105));
  --kd-color-navigation-switcher-icon: light-dark(var(--kd-color-indigo-80-primary), var(--kd-color-indigo-60));
  --kd-color-page-background: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-cool-gray-93));
  --kd-color-page-bg: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-indigo-107));
  --kd-color-page-logo-bridge-txt: light-dark(var(--kd-color-spruce-60-secondary), var(--kd-color-dark-stone-10));
  --kd-color-page-overlay: light-dark(var(--kd-color-opacity-light-50), var(--kd-color-opacity-dark-85));
  --kd-color-states-static: light-dark(var(--kd-color-cool-gray-95), var(--kd-color-cool-gray-5));
  --kd-color-states-static-solid-label: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-cool-gray-5));
  --kd-color-states-disabled: light-dark(var(--kd-color-dark-stone-20), var(--kd-color-dark-stone-80));
  --kd-color-states-disabled-label: light-dark(var(--kd-color-warm-gray-50), var(--kd-color-warm-gray-50));
  --kd-color-table-header: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-indigo-105));
  --kd-color-table-row: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-opacity-light-3));
  --kd-color-table-alt-row: light-dark(var(--kd-color-cool-gray-7), var(--kd-color-opacity-light-5));
  --kd-color-table-row-active: light-dark(var(--kd-color-indigo-10), var(--kd-color-indigo-100));
  --kd-color-table-row-active-nested: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-indigo-90));
  --kd-color-table-footer: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-indigo-105));
  --kd-color-text-primary: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-opacity-light-86));
  --kd-color-text-light: light-dark(var(--kd-color-cool-gray-8), var(--kd-color-opacity-light-86));
  --kd-color-text-medium: light-dark(var(--kd-color-cool-gray-85), var(--kd-color-dark-stone-20));
  --kd-color-text-dark: light-dark(var(--kd-color-cool-gray-90), var(--kd-color-cool-gray-90));
  --kd-color-text-link: light-dark(var(--kd-color-indigo-50), var(--kd-color-indigo-40));
  --kd-color-text-link-active: light-dark(var(--kd-color-indigo-50), var(--kd-color-indigo-20));
  --kd-color-titles-primary-title: light-dark(var(--kd-color-spruce-30), var(--kd-color-spruce-30));
  --kd-color-titles-secondary-title: light-dark(var(--kd-color-spruce-40), var(--kd-color-spruce-20));
  --kd-color-titles-tertiary-title: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-30));
  --kd-color-utility-border: light-dark(var(--kd-color-cool-gray-15), var(--kd-color-opacity-light-5));
  --kd-color-utility-icon: light-dark(var(--kd-color-cool-gray-70), var(--kd-color-cool-gray-5));
  --kd-color-utility-search-bg: light-dark(var(--kd-color-indigo-5), var(--kd-color-indigo-105));
  --kd-color-utility-interactive-graphic: light-dark(var(--kd-color-cool-gray-20), var(--kd-color-cool-gray-80));
  --kd-color-utility-interactive-graphic-alt: light-dark(var(--kd-color-cool-gray-30), var(--kd-color-cool-gray-60));
  --kd-color-utility-neutral-tag: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-cool-gray-85));
  --kd-color-forms-label-primary: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-20));
  --kd-color-forms-label-secondary: light-dark(var(--kd-color-dark-stone-60), var(--kd-color-dark-stone-30));
  --kd-color-forms-input-field-background: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-opacity-dark-30));
  --kd-color-forms-input-field-border: light-dark(var(--kd-color-dark-stone-50), var(--kd-color-cool-gray-70));
  --kd-color-forms-input-field-text: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-20));
  --kd-color-card-background: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-opacity-light-3));
  --kd-color-card-border-color-clickable: light-dark(var(--kd-color-indigo-80-primary), var(--kd-color-indigo-30));
  --kd-color-card-border-color-default: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-opacity-light-5));
  --kd-color-card-border-color-hover: light-dark(var(--kd-color-cool-gray-7), var(--kd-color-opacity-light-10));
  --kd-color-data-viz-categorical-01-10: light-dark(var(--kd-color-lilac-20), var(--kd-color-lilac-30));
  --kd-color-data-viz-categorical-01-01: light-dark(var(--kd-color-sea-40), var(--kd-color-sea-10));
  --kd-color-data-viz-categorical-01-02: light-dark(var(--kd-color-jade-20), var(--kd-color-jade-30));
  --kd-color-data-viz-categorical-01-03: light-dark(var(--kd-color-amber-40), var(--kd-color-amber-10));
  --kd-color-data-viz-categorical-01-04: light-dark(var(--kd-color-blush-20), var(--kd-color-blush-30));
  --kd-color-data-viz-categorical-01-05: light-dark(var(--kd-color-lilac-40), var(--kd-color-lilac-10));
  --kd-color-data-viz-categorical-01-06: light-dark(var(--kd-color-sea-20), var(--kd-color-sea-30));
  --kd-color-data-viz-categorical-01-07: light-dark(var(--kd-color-jade-40), var(--kd-color-jade-10));
  --kd-color-data-viz-categorical-01-08: light-dark(var(--kd-color-amber-20), var(--kd-color-amber-30));
  --kd-color-data-viz-categorical-01-09: light-dark(var(--kd-color-blush-40), var(--kd-color-blush-10));
  --kd-color-data-viz-sequential-01-10: light-dark(var(--kd-color-sea-10), var(--kd-color-sea-100));
  --kd-color-data-viz-sequential-01-20: light-dark(var(--kd-color-sea-10), var(--kd-color-sea-90));
  --kd-color-data-viz-sequential-01-30: light-dark(var(--kd-color-sea-40), var(--kd-color-sea-70));
  --kd-color-data-viz-sequential-01-40: light-dark(var(--kd-color-sea-30), var(--kd-color-sea-80));
  --kd-color-data-viz-sequential-01-50: light-dark(var(--kd-color-sea-50), var(--kd-color-sea-60));
  --kd-color-data-viz-sequential-01-60: light-dark(var(--kd-color-sea-60), var(--kd-color-sea-50));
  --kd-color-data-viz-sequential-01-70: light-dark(var(--kd-color-sea-70), var(--kd-color-sea-40));
  --kd-color-data-viz-sequential-01-80: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-30));
  --kd-color-data-viz-sequential-01-90: light-dark(var(--kd-color-sea-90), var(--kd-color-sea-20));
  --kd-color-data-viz-sequential-01-100: light-dark(var(--kd-color-sea-100), var(--kd-color-sea-10));
  --kd-color-data-viz-sequential-02-10: light-dark(var(--kd-color-jade-10), var(--kd-color-jade-100));
  --kd-color-data-viz-sequential-02-20: light-dark(var(--kd-color-jade-20), var(--kd-color-jade-90));
  --kd-color-data-viz-sequential-02-30: light-dark(var(--kd-color-jade-30), var(--kd-color-jade-80));
  --kd-color-data-viz-sequential-02-40: light-dark(var(--kd-color-jade-40), var(--kd-color-jade-70));
  --kd-color-data-viz-sequential-02-50: light-dark(var(--kd-color-jade-50), var(--kd-color-jade-60));
  --kd-color-data-viz-sequential-02-60: light-dark(var(--kd-color-jade-60), var(--kd-color-jade-50));
  --kd-color-data-viz-sequential-02-70: light-dark(var(--kd-color-jade-70), var(--kd-color-jade-40));
  --kd-color-data-viz-sequential-02-80: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-30));
  --kd-color-data-viz-sequential-02-90: light-dark(var(--kd-color-jade-90), var(--kd-color-jade-20));
  --kd-color-data-viz-sequential-02-100: light-dark(var(--kd-color-jade-100), var(--kd-color-jade-10));
  --kd-color-data-viz-sequential-03-10: light-dark(var(--kd-color-amber-10), var(--kd-color-amber-100));
  --kd-color-data-viz-sequential-03-20: light-dark(var(--kd-color-amber-20), var(--kd-color-amber-90));
  --kd-color-data-viz-sequential-03-30: light-dark(var(--kd-color-amber-30), var(--kd-color-amber-80));
  --kd-color-data-viz-sequential-03-40: light-dark(var(--kd-color-amber-40), var(--kd-color-amber-70));
  --kd-color-data-viz-sequential-03-50: light-dark(var(--kd-color-amber-50), var(--kd-color-amber-60));
  --kd-color-data-viz-sequential-03-60: light-dark(var(--kd-color-amber-60), var(--kd-color-amber-50));
  --kd-color-data-viz-sequential-03-70: light-dark(var(--kd-color-amber-70), var(--kd-color-amber-40));
  --kd-color-data-viz-sequential-03-80: light-dark(var(--kd-color-amber-80), var(--kd-color-amber-30));
  --kd-color-data-viz-sequential-03-90: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-20));
  --kd-color-data-viz-sequential-03-100: light-dark(var(--kd-color-amber-100), var(--kd-color-amber-10));
  --kd-color-data-viz-sequential-04-10: light-dark(var(--kd-color-blush-10), var(--kd-color-blush-100));
  --kd-color-data-viz-sequential-04-20: light-dark(var(--kd-color-blush-20), var(--kd-color-blush-90));
  --kd-color-data-viz-sequential-04-30: light-dark(var(--kd-color-blush-30), var(--kd-color-blush-80));
  --kd-color-data-viz-sequential-04-40: light-dark(var(--kd-color-blush-40), var(--kd-color-blush-70));
  --kd-color-data-viz-sequential-04-50: light-dark(var(--kd-color-blush-50), var(--kd-color-blush-60));
  --kd-color-data-viz-sequential-04-60: light-dark(var(--kd-color-blush-60), var(--kd-color-blush-50));
  --kd-color-data-viz-sequential-04-70: light-dark(var(--kd-color-blush-70), var(--kd-color-blush-40));
  --kd-color-data-viz-sequential-04-80: light-dark(var(--kd-color-blush-80), var(--kd-color-blush-30));
  --kd-color-data-viz-sequential-04-90: light-dark(var(--kd-color-blush-90), var(--kd-color-blush-20));
  --kd-color-data-viz-sequential-04-100: light-dark(var(--kd-color-blush-100), var(--kd-color-blush-10));
  --kd-color-data-viz-sequential-05-10: light-dark(var(--kd-color-lilac-10), var(--kd-color-lilac-100));
  --kd-color-data-viz-sequential-05-20: light-dark(var(--kd-color-lilac-20), var(--kd-color-lilac-90));
  --kd-color-data-viz-sequential-05-30: light-dark(var(--kd-color-lilac-40), var(--kd-color-lilac-80));
  --kd-color-data-viz-sequential-05-40: light-dark(var(--kd-color-lilac-40), var(--kd-color-lilac-70));
  --kd-color-data-viz-sequential-05-50: light-dark(var(--kd-color-lilac-50), var(--kd-color-lilac-60));
  --kd-color-data-viz-sequential-05-60: light-dark(var(--kd-color-lilac-60), var(--kd-color-lilac-50));
  --kd-color-data-viz-sequential-05-70: light-dark(var(--kd-color-lilac-70), var(--kd-color-lilac-40));
  --kd-color-data-viz-sequential-05-80: light-dark(var(--kd-color-lilac-80), var(--kd-color-lilac-30));
  --kd-color-data-viz-sequential-05-90: light-dark(var(--kd-color-lilac-90), var(--kd-color-lilac-20));
  --kd-color-data-viz-sequential-05-100: light-dark(var(--kd-color-lilac-100), var(--kd-color-lilac-10));
  --kd-color-data-viz-divergent-01-negative-10: light-dark(var(--kd-color-amber-10), var(--kd-color-amber-100));
  --kd-color-data-viz-divergent-01-negative-20: light-dark(var(--kd-color-amber-20), var(--kd-color-amber-90));
  --kd-color-data-viz-divergent-01-negative-30: light-dark(var(--kd-color-amber-30), var(--kd-color-amber-80));
  --kd-color-data-viz-divergent-01-negative-40: light-dark(var(--kd-color-amber-40), var(--kd-color-amber-70));
  --kd-color-data-viz-divergent-01-negative-50: light-dark(var(--kd-color-amber-50), var(--kd-color-amber-60));
  --kd-color-data-viz-divergent-01-negative-60: light-dark(var(--kd-color-amber-60), var(--kd-color-amber-50));
  --kd-color-data-viz-divergent-01-negative-70: light-dark(var(--kd-color-amber-70), var(--kd-color-amber-40));
  --kd-color-data-viz-divergent-01-negative-80: light-dark(var(--kd-color-amber-80), var(--kd-color-amber-30));
  --kd-color-data-viz-divergent-01-negative-90: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-20));
  --kd-color-data-viz-divergent-01-negative-100: light-dark(var(--kd-color-amber-100), var(--kd-color-amber-10));
  --kd-color-data-viz-divergent-01-div-neu: light-dark(var(--kd-color-div-01-neutral), var(--kd-color-dark-stone-80));
  --kd-color-data-viz-divergent-01-positive-10: light-dark(var(--kd-color-sea-10), var(--kd-color-sea-100));
  --kd-color-data-viz-divergent-01-positive-20: light-dark(var(--kd-color-sea-20), var(--kd-color-sea-90));
  --kd-color-data-viz-divergent-01-positive-30: light-dark(var(--kd-color-sea-30), var(--kd-color-sea-80));
  --kd-color-data-viz-divergent-01-positive-40: light-dark(var(--kd-color-sea-40), var(--kd-color-sea-70));
  --kd-color-data-viz-divergent-01-positive-50: light-dark(var(--kd-color-sea-50), var(--kd-color-sea-60));
  --kd-color-data-viz-divergent-01-positive-60: light-dark(var(--kd-color-sea-60), var(--kd-color-sea-50));
  --kd-color-data-viz-divergent-01-positive-70: light-dark(var(--kd-color-sea-70), var(--kd-color-sea-40));
  --kd-color-data-viz-divergent-01-positive-80: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-30));
  --kd-color-data-viz-divergent-01-positive-90: light-dark(var(--kd-color-sea-90), var(--kd-color-sea-20));
  --kd-color-data-viz-divergent-01-positive-100: light-dark(var(--kd-color-sea-100), var(--kd-color-sea-10));
  --kd-color-data-viz-divergent-02-negative-10: light-dark(var(--kd-color-blush-10), var(--kd-color-blush-100));
  --kd-color-data-viz-divergent-02-negative-20: light-dark(var(--kd-color-blush-20), var(--kd-color-blush-90));
  --kd-color-data-viz-divergent-02-negative-30: light-dark(var(--kd-color-blush-30), var(--kd-color-blush-80));
  --kd-color-data-viz-divergent-02-negative-40: light-dark(var(--kd-color-blush-40), var(--kd-color-blush-70));
  --kd-color-data-viz-divergent-02-negative-50: light-dark(var(--kd-color-blush-50), var(--kd-color-blush-60));
  --kd-color-data-viz-divergent-02-negative-60: light-dark(var(--kd-color-blush-60), var(--kd-color-blush-50));
  --kd-color-data-viz-divergent-02-negative-70: light-dark(var(--kd-color-blush-70), var(--kd-color-blush-40));
  --kd-color-data-viz-divergent-02-negative-80: light-dark(var(--kd-color-blush-80), var(--kd-color-blush-30));
  --kd-color-data-viz-divergent-02-negative-90: light-dark(var(--kd-color-blush-90), var(--kd-color-blush-20));
  --kd-color-data-viz-divergent-02-negative-100: light-dark(var(--kd-color-blush-100), var(--kd-color-blush-10));
  --kd-color-data-viz-divergent-02-div-neu: light-dark(var(--kd-color-div-02-neutral), var(--kd-color-dark-stone-80));
  --kd-color-data-viz-divergent-02-positive-10: light-dark(var(--kd-color-jade-10), var(--kd-color-jade-100));
  --kd-color-data-viz-divergent-02-positive-20: light-dark(var(--kd-color-jade-20), var(--kd-color-jade-90));
  --kd-color-data-viz-divergent-02-positive-30: light-dark(var(--kd-color-jade-30), var(--kd-color-jade-80));
  --kd-color-data-viz-divergent-02-positive-40: light-dark(var(--kd-color-jade-40), var(--kd-color-jade-70));
  --kd-color-data-viz-divergent-02-positive-50: light-dark(var(--kd-color-jade-50), var(--kd-color-jade-60));
  --kd-color-data-viz-divergent-02-positive-60: light-dark(var(--kd-color-jade-60), var(--kd-color-jade-50));
  --kd-color-data-viz-divergent-02-positive-70: light-dark(var(--kd-color-jade-70), var(--kd-color-jade-40));
  --kd-color-data-viz-divergent-02-positive-80: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-30));
  --kd-color-data-viz-divergent-02-positive-90: light-dark(var(--kd-color-jade-90), var(--kd-color-jade-20));
  --kd-color-data-viz-divergent-02-positive-100: light-dark(var(--kd-color-jade-100), var(--kd-color-jade-10));
  --kd-color-status-error: light-dark(var(--kd-color-warm-red-70), var(--kd-color-warm-red-70));
  --kd-color-status-error-light: light-dark(var(--kd-color-warm-red-10), var(--kd-color-warm-red-10));
  --kd-color-status-informational: light-dark(var(--kd-color-informational), var(--kd-color-informational));
  --kd-color-status-informational-light: light-dark(var(--kd-color-informational-light), var(--kd-color-informational-light));
  --kd-color-status-success: light-dark(var(--kd-color-success), var(--kd-color-success));
  --kd-color-status-success-light: light-dark(var(--kd-color-success-light), var(--kd-color-success-light));
  --kd-color-status-warning: light-dark(var(--kd-color-warning), var(--kd-color-warning));
  --kd-color-status-warning-light: light-dark(var(--kd-color-warning-light), var(--kd-color-warning-light));
}