:root {
  $colors: (
    spruce: (
      100: #081618,
      90: #0e272a,
      80: #163d43,
      70: #205961,
      60: #29707a,
      50: #2f808c,
      40: #3797a4,
      30: #3fadbd,
      20: #8ecfd9,
      10: #ddf0f3,
    ),
    skye: (
      100: #091714,
      90: #102824,
      80: #193f38,
      70: #23564d,
      60: #2c6e61,
      50: #38887b,
      40: #44a895,
      30: #5fbeac,
      20: #aadcd3,
      10: #e4f4f1,
    ),
    deepforest: (
      100: #02150d,
      90: #042315,
      80: #074127,
      70: #0a5734,
      60: #0d7546,
      50: #0f8853,
      40: #13a865,
      30: #15be72,
      20: #19db83,
      10: #a3f4cf,
    ),
    springgreen: (
      100: #03140a,
      90: #072914,
      80: #0d4422,
      70: #10592c,
      60: #187e3f,
      50: #1b904b,
      40: #1fa452,
      30: #24c060,
      20: #4cdd84,
      10: #b6f1cd,
    ),
    warmred: (
      100: #410700,
      90: #6a0c00,
      80: #9b1200,
      70: #cc1800,
      60: #ff2306,
      50: #ff462d,
      40: #ff6b57,
      30: #ff9688,
      20: #fec1b9,
      10: #fededa,
    ),
    earth: (
      100: #161412,
      90: #2d2824,
      80: #3f3833,
      70: #565049,
      60: #70655b,
      50: #8b7d71,
      40: #9e9287,
      30: #bfb7b0,
      20: #dcd8d4,
      10: #f5f4f3,
    ),
    cloud: (
      100: #171511,
      90: #29271f,
      80: #3c382d,
      70: #534e3f,
      60: #6e6854,
      50: #8a826a,
      40: #a49d89,
      30: #bdb8a9,
      20: #dddad3,
      10: #f2f1ee,
    ),
    darkstone: (
      100: #161616,
      90: #272727,
      80: #3d3c3c,
      70: #515151,
      60: #6d6d6d,
      50: #898888,
      40: #a8a5a6,
      30: #bcbab8,
      20: #dcdad8,
      10: #f9f9f9,
    ),
    warmgray: (
      100: #141313,
      90: #2d2b2b,
      80: #423f3f,
      70: #565353,
      60: #746f6f,
      50: #8d8888,
      40: #a5a0a0,
      30: #c1bebe,
      20: #d9d7d7,
      10: #f1f0f0,
    ),
    coolgray: (
      100: #121415,
      90: #222527,
      80: #383e41,
      70: #4b5357,
      60: #667076,
      50: #79858b,
      40: #97a1a6,
      30: #b6bdc0,
      20: #d5d9db,
      10: #edf1f2,
    ),
  );

  /* Generating tokens based on the values defined in colors */
  @each $colorname, $color in $colors {
    @each $key, $value in $color {
      $keyname: '--kd-color-' + $colorname + '-' + $key;
      #{$keyname}: #{$value};
    }
  }

  /* The most basic colors */
  --kd-color-neutral-white: #ffffff;

  /* Status colors */
  --kd-color-success: #1fa452;
  --kd-color-success-light: #e5f7eb;
  --kd-color-error: #cc1800;
  --kd-color-error-light: #f7e6e6;
  --kd-color-warning: #f5c400;
  --kd-color-warning-light: #fef9e5;
  --kd-color-informational: #1473ff;
  --kd-color-informational-light: #e9f2ff;

  /* Text colors */
  --kd-color-text-primary: var(--kd-color-darkstone-80);
  --kd-color-text-primary-hover: var(--kd-color-darkstone-60);
  --kd-color-text-primary-pressed: var(--kd-color-darkstone-100);
  --kd-color-text-secondary: var(--kd-color-darkstone-60);
  --kd-color-text-tertiary: var(--kd-color-spruce-60);
  --kd-color-text-tertiary-bold: var(--kd-color-spruce-80);
  --kd-color-text-eyebrow: var(--kd-color-spruce-50);
  --kd-color-text-brand: var(--kd-color-warmred-50);
  --kd-color-text-inversed: var(--kd-color-neutral-white);
  --kd-color-text-disabled: var(--kd-color-darkstone-40);
  --kd-color-text-link: var(--kd-color-spruce-60);
  --kd-color-text-link-hover: var(--kd-color-spruce-50);
  --kd-color-text-link-pressed: var(--kd-color-spruce-80);
  --kd-color-text-placeholder: var(--kd-color-darkstone-50);
  --kd-color-text-success: var(--kd-color-success);
  --kd-color-text-error: var(--kd-color-error);
  --kd-color-text-warning: var(--kd-color-warning);
  --kd-color-text-informational: var(--kd-color-informational);
  --kd--color-text-destructive: var(--kd-color-warmred-70);

  /* Background colors */
  --kd-color-background-ui-light: var(--kd-color-neutral-white);
  --kd-color-background-ui-medium: var(--kd-color-darkstone-20);
  --kd-color-background-ui-mid-dark: var(--kd-color-darkstone-50);
  --kd-color-background-ui-dark: var(--kd-color-darkstone-80);
  --kd-color-background-brand: var(--kd-color-warmred-50);
  --kd-color-background-ui: var(--kd-color-darkstone-50);
  --kd-color-background-ui-hover: var(--kd-color-spruce-60);
  --kd-color-background-ui-pressed: var(--kd-color-spruce-60);
  --kd-color-background-primary: var(--kd-color-spruce-60);
  --kd-color-background-primary-hover: var(--kd-color-spruce-50);
  --kd-color-background-primary-pressed: var(--kd-color-spruce-80);
  --kd-color-background-secondary: var(--kd-color-darkstone-80);
  --kd-color-background-secondary-hover: var(--kd-color-darkstone-60);
  --kd-color-background-secondary-pressed: var(--kd-color-darkstone-100);
  --kd-color-background-destructive: var(--kd-color-warmred-70);
  --kd-color-background-destructive-hover: var(--kd-color-warmred-60);
  --kd-color-background-destructive-pressed: var(--kd-color-warmred-80);
  --kd-color-background-focus: var(--kd-color-spruce-60);
  --kd-color-background-inverse: var(--kd-color-neutral-white);
  --kd-color-background-inverse-hover: var(--kd-color-spruce-10);
  --kd-color-background-accent-stone: var(--kd-color-darkstone-10);
  --kd-color-background-accent-skye: var(--kd-color-skye-20);
  --kd-color-background-accent-springgreen: var(--kd-color-springgreen-20);
  --kd-color-background-accent-spruce-light: var(--kd-color-spruce-30);
  --kd-color-background-accent-spruce-dark: var(--kd-color-spruce-80);
  --kd-color-background-success: var(--kd-color-success);
  --kd-color-background-success-light: var(--kd-color-success-light);
  --kd-color-background-error: var(--kd-color-error);
  --kd-color-background-error-light: var(--kd-color-error-light);
  --kd-color-background-warning: var(--kd-color-warning);
  --kd-color-background-warning-light: var(--kd-color-warning-light);
  --kd-color-background-informational: var(--kd-color-informational);
  --kd-color-background-informational-light: var(
    --kd-color-informational-light
  );
  --kd-color-background-disabled: var(--kd-color-darkstone-40);

  /* Border colors */
  --kd-color-border-primary: var(--kd-color-darkstone-80);
  --kd-color-border-secondary: var(--kd-color-darkstone-60);
  --kd-color-border-ui: var(--kd-color-darkstone-50);
  --kd-color-border-ui-hover: var(--kd-color-spruce-60);
  --kd-color-border-ui-disabled: var(--kd-color-darkstone-40);
  --kd-color-border-tertiary: var(--kd-color-spruce-60);
  --kd-color-border-tertiary-bold: var(--kd-color-spruce-80);
  --kd-color-border-brand: var(--kd-color-warmred-50);
  --kd-color-border-focus: var(--kd-color-spruce-60);
  --kd-color-border-destructive: var(--kd-color-warmred-70);
  --kd-color-border-inverse: var(--kd-color-neutral-white);
  --kd-color-border-hover: var(--kd-color-darkstone-60);
  --kd-color-border-pressed: var(--kd-color-darkstone-100);
  --kd-color-border-disabled: var(--kd-color-darkstone-40);
  --kd-color-border-accent-springgreen: var(--kd-color-springgreen-20);
  --kd-color-border-accent-spruce-light: var(--kd-color-spruce-30);
  --kd-color-border-success: var(--kd-color-success);
  --kd-color-border-error: var(--kd-color-error);
  --kd-color-border-warning: var(--kd-color-warning);
  --kd-color-border-informational: var(--kd-color-informational);

  /* Opacity */
  --kd-color-transparent: rgba(0, 0, 0, 0);
  --kd-color-light-opacity-50: rgba(255, 255, 255, 0.5);
  --kd-color-dark-opacity-50: rgba(61, 60, 60, 0.5);
}
