:root {
  --kd-color-palette-cloud-20: #dddad3;
  --kd-color-palette-cloud-30: #bdb8a9;
  --kd-color-palette-cloud-40: #a49d89;
  --kd-color-palette-cloud-50: #8a826a;
  --kd-color-palette-cloud-60: #6e6854;
  --kd-color-palette-cloud-70: #534e3f;
  --kd-color-palette-cloud-80: #3c382d;
  --kd-color-palette-cloud-90: #29271f;
  --kd-color-palette-cloud-100: #171511;
  --kd-color-palette-cloud-10-base: #f2f1ee;
  --kd-color-palette-cool-gray-3: #fcfcfc;
  --kd-color-palette-cool-gray-5: #fafbfb;
  --kd-color-palette-cool-gray-7: #f8f9f9;
  --kd-color-palette-cool-gray-8: #f5f6f6;
  --kd-color-palette-cool-gray-10: #edf1f2;
  --kd-color-palette-cool-gray-15: #e1e5e7;
  --kd-color-palette-cool-gray-cool-gray-20: #d5d9db;
  --kd-color-palette-cool-gray-cool-gray-30: #b6bdc0;
  --kd-color-palette-cool-gray-cool-gray-40: #97a1a6;
  --kd-color-palette-cool-gray-cool-gray-50: #79858b;
  --kd-color-palette-cool-gray-cool-gray-60-neutral-1: #667076;
  --kd-color-palette-cool-gray-cool-gray-70: #4b5357;
  --kd-color-palette-cool-gray-cool-gray-80: #383e41;
  --kd-color-palette-cool-gray-cool-gray-85: #2d3234;
  --kd-color-palette-cool-gray-cool-gray-90: #222527;
  --kd-color-palette-cool-gray-cool-gray-93: #1e2123;
  --kd-color-palette-cool-gray-cool-gray-95: #1a1d1e;
  --kd-color-palette-cool-gray-100: #121415;
  --kd-color-palette-dark-stone-10: #f9f9f9;
  --kd-color-palette-dark-stone-20: #dcdad8;
  --kd-color-palette-dark-stone-30: #bcbab8;
  --kd-color-palette-dark-stone-40: #a8a5a6;
  --kd-color-palette-dark-stone-50: #898888;
  --kd-color-palette-dark-stone-60: #6d6d6d;
  --kd-color-palette-dark-stone-70: #515151;
  --kd-color-palette-dark-stone-80-neutral-3: #3d3c3c;
  --kd-color-palette-dark-stone-90: #272727;
  --kd-color-palette-dark-stone-100: #161616;
  --kd-color-palette-deep-forest-10: #a3f4cf;
  --kd-color-palette-earth-10: #f5f4f3;
  --kd-color-palette-earth-20: #dcd8d4;
  --kd-color-palette-earth-30: #bfb7b0;
  --kd-color-palette-earth-40-neutral-2: #9e9287;
  --kd-color-palette-earth-50: #8b7d71;
  --kd-color-palette-earth-60: #70655b;
  --kd-color-palette-dark-earth-70-base: #565049;
  --kd-color-palette-earth-80: #3f3833;
  --kd-color-palette-earth-90: #2d2824;
  --kd-color-palette-earth-100: #161412;
  --kd-color-palette-deep-forest-20: #19db83;
  --kd-color-palette-deep-forest-30: #15be72;
  --kd-color-palette-deep-forest-40: #13a865;
  --kd-color-palette-deep-forest-50: #0f8853;
  --kd-color-palette-deep-forest-60: #0d7546;
  --kd-color-palette-deep-forest-70: #0a5734;
  --kd-color-palette-deep-forest-80: #074127;
  --kd-color-palette-deep-forest-90-base: #042315;
  --kd-color-palette-deep-forest-100: #02150d;
  --kd-color-palette-lavender-5: #f5f5fa;
  --kd-color-palette-lavender-10: #ededf5;
  --kd-color-palette-lavender-15: #e1e1ef;
  --kd-color-palette-lavender-20: #d4d4e8;
  --kd-color-palette-lavender-30: #bbbbdb;
  --kd-color-palette-lavender-40: #a2a2ce;
  --kd-color-palette-lavender-50: #8988c0;
  --kd-color-palette-lavender-60: #706fb3;
  --kd-color-palette-lavender-70: #5756a6;
  --kd-color-palette-lavender-80-primary: #484786;
  --kd-color-palette-lavender-90: #403f74;
  --kd-color-palette-lavender-95: #373662;
  --kd-color-palette-lavender-100: #2f2e50;
  --kd-color-palette-lavender-105: #26263f;
  --kd-color-palette-lavender-107: #1a1924;
  --kd-color-palette-lavender-110: #15151b;
  --kd-color-palette-lavender-115: #121219;
  --kd-color-palette-lavender-120: #0e0e17;
  --kd-color-palette-white: #ffffff;
  --kd-color-palette-light-opacity-3: #ffffff08;
  --kd-color-palette-light-opacity-5: #ffffff0d;
  --kd-color-palette-light-opacity-10: #ffffff1a;
  --kd-color-palette-light-opacity-50: #ffffff80;
  --kd-color-palette-light-opacity-86: #ffffffdb;
  --kd-color-palette-dark-opacity-3: #00000008;
  --kd-color-palette-dark-opacity-10: #0000001a;
  --kd-color-palette-dark-opacity-20: #00000033;
  --kd-color-palette-dark-opacity-30: #0000004d;
  --kd-color-palette-dark-opacity-40: #00000066;
  --kd-color-palette-dark-opacity-50: #00000080;
  --kd-color-palette-dark-opacity-85: #121219cc;
  --kd-color-palette-black: #000000;
  --kd-color-palette-webgray: #fafafc;
  --kd-color-palette-transparent: #00000000;
  --kd-color-palette-lavender-opacity: #0e0e17e6;
  --kd-color-palette-spring-green-10: #c4f3d6;
  --kd-color-palette-spring-green-20-tertiary: #4cdd84;
  --kd-color-palette-spring-green-30: #24c060;
  --kd-color-palette-spring-green-40: #1fa452;
  --kd-color-palette-spring-green-50: #1b904b;
  --kd-color-palette-dark-spring-green-60-base-dark: #187e3f;
  --kd-color-palette-spring-green-70: #10592c;
  --kd-color-palette-spring-green-80: #0d4422;
  --kd-color-palette-spring-green-90: #072914;
  --kd-color-palette-spring-green-100: #03140a;
  --kd-color-palette-spruce-10: #ddf0f3;
  --kd-color-palette-spruce-20: #8ecfd9;
  --kd-color-palette-spruce-30: #3fadbd;
  --kd-color-palette-spruce-40: #3797a4;
  --kd-color-palette-spruce-50: #2f808c;
  --kd-color-palette-spruce-60-secondary: #29707a;
  --kd-color-palette-spruce-70: #205961;
  --kd-color-palette-spruce-80: #163d43;
  --kd-color-palette-spruce-90: #0e272a;
  --kd-color-palette-spruce-100: #081618;
  --kd-color-palette-success: #00af41;
  --kd-color-palette-success-light: #e5f7eb;
  --kd-color-palette-error: #cc1800;
  --kd-color-palette-error-light: #f7e6e6;
  --kd-color-palette-warning: #f0c000;
  --kd-color-palette-warning-light: #fef9e5;
  --kd-color-palette-informational: #1473ff;
  --kd-color-palette-informational-light: #e9f2ff;
  --kd-color-palette-skye-10-base: #e4f4f1;
  --kd-color-palette-skye-20: #aadcd3;
  --kd-color-palette-skye-30: #5fbeac;
  --kd-color-palette-skye-40: #44a895;
  --kd-color-palette-skye-50: #38887b;
  --kd-color-palette-skye-60: #2c6e61;
  --kd-color-palette-skye-70: #23564d;
  --kd-color-palette-skye-80: #193f38;
  --kd-color-palette-skye-90: #102824;
  --kd-color-palette-skye-100: #091714;
  --kd-color-palette-warm-gray-10: #f1f0f0;
  --kd-color-palette-warm-gray-20: #d9d7d7;
  --kd-color-palette-warm-gray-30: #c1bebe;
  --kd-color-palette-warm-gray-40: #a5a0a0;
  --kd-color-palette-warm-gray-50-base: #8d8888;
  --kd-color-palette-warm-gray-60: #746f6f;
  --kd-color-palette-warm-gray-70: #565353;
  --kd-color-palette-warm-gray-80: #423f3f;
  --kd-color-palette-warm-gray-90: #2d2b2b;
  --kd-color-palette-warm-gray-100: #141313;
  --kd-color-palette-warm-red-10: #fededa;
  --kd-color-palette-warm-red-20: #fec1b9;
  --kd-color-palette-warm-red-30: #ff9688;
  --kd-color-palette-warm-red-40: #ff6b57;
  --kd-color-palette-warm-red-50-accent: #ff462d;
  --kd-color-palette-warm-red-60: #ff2306;
  --kd-color-palette-warm-red-70: #cc1800;
  --kd-color-palette-warm-red-80: #9b1200;
  --kd-color-palette-warm-red-90: #6a0c00;
  --kd-color-palette-warm-red-100: #410700;
  --kd-color-palette-amber-10: #643000;
  --kd-color-palette-amber-20: #813f01;
  --kd-color-palette-amber-30: #9e4d02;
  --kd-color-palette-amber-40: #bc5802;
  --kd-color-palette-amber-50: #d86301;
  --kd-color-palette-amber-60: #f26e01;
  --kd-color-palette-amber-70: #ff850a;
  --kd-color-palette-amber-80: #ffa329;
  --kd-color-palette-amber-90: #ffbc48;
  --kd-color-palette-amber-100: #ffd46a;
  --kd-color-palette-blush-10: #781256;
  --kd-color-palette-blush-20: #922365;
  --kd-color-palette-blush-30: #ab3272;
  --kd-color-palette-blush-40: #c4407e;
  --kd-color-palette-blush-50: #dc4b89;
  --kd-color-palette-blush-60: #ee5d97;
  --kd-color-palette-blush-70: #f378b1;
  --kd-color-palette-blush-80: #f493c5;
  --kd-color-palette-blush-90: #f3acd6;
  --kd-color-palette-blush-100: #f2c4e2;
  --kd-color-palette-div-01-neutral: #ebf8fe;
  --kd-color-palette-div-02-neutral: #ebf8fe;
  --kd-color-palette-jade-10: #004a4f;
  --kd-color-palette-jade-20: #00615f;
  --kd-color-palette-jade-30: #00776b;
  --kd-color-palette-jade-40: #008d72;
  --kd-color-palette-jade-50: #00a275;
  --kd-color-palette-jade-60: #25b574;
  --kd-color-palette-jade-70: #49c588;
  --kd-color-palette-jade-80: #66d39f;
  --kd-color-palette-jade-90: #81e1b5;
  --kd-color-palette-jade-100: #9beeca;
  --kd-color-palette-lilac-10: #641195;
  --kd-color-palette-lilac-20: #7431a4;
  --kd-color-palette-lilac-30: #8548b4;
  --kd-color-palette-lilac-40: #945cc2;
  --kd-color-palette-lilac-50: #a36fd0;
  --kd-color-palette-lilac-60: #b181db;
  --kd-color-palette-lilac-70: #bd93e5;
  --kd-color-palette-lilac-80: #c9a5ed;
  --kd-color-palette-lilac-90: #d5b5f6;
  --kd-color-palette-lilac-100: #e2c6ff;
  --kd-color-palette-sea-10: #004765;
  --kd-color-palette-sea-20: #155b7f;
  --kd-color-palette-sea-30: #236f96;
  --kd-color-palette-sea-40: #3082af;
  --kd-color-palette-sea-50: #3a94c6;
  --kd-color-palette-sea-60: #48a5da;
  --kd-color-palette-sea-70: #64b5e1;
  --kd-color-palette-sea-80: #7ec4e9;
  --kd-color-palette-sea-90: #95d3f0;
  --kd-color-palette-sea-100: #ace1f8;
}
