:root {
  --kd-color-background-container-default: light-dark(var(--kd-color-interactive-3), var(--kd-color-interactive-110));
  --kd-color-background-container-subtle: light-dark(var(--kd-color-opacity-dark-2), var(--kd-color-opacity-light-5));
  --kd-color-background-container-bold: light-dark(var(--kd-color-dark-stone-50), var(--kd-color-cool-gray-40));
  --kd-color-background-container-soft: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-107));
  --kd-color-background-container-footer: light-dark(var(--kd-color-interactive-15), var(--kd-color-interactive-110));
  --kd-color-background-container-secondary: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-107));
  --kd-color-background-container-ai-default: light-dark(var(--kd-color-ai-interactive-01), var(--kd-color-ai-interactive-100));
  --kd-color-background-container-ai-subtle: light-dark(var(--kd-color-neutral-white), var(--kd-color-ai-interactive-100));
  --kd-color-background-container-ai-level-2: light-dark(var(--kd-color-ai-interactive-05), var(--kd-color-ai-interactive-90));
  --kd-color-background-container-surface-tint: light-dark(var(--kd-color-opacity-light-86), var(--kd-color-opacity-dark-85));
  --kd-color-background-ui-default-dark: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-cool-gray-10));
  --kd-color-background-ui-default-brand: light-dark(var(--kd-color-warm-red-50-brand), var(--kd-color-warm-red-50-brand));
  --kd-color-background-ui-default-default: light-dark(var(--kd-color-dark-stone-50), var(--kd-color-cool-gray-10));
  --kd-color-background-ui-default-hover: light-dark(var(--kd-color-interactive-60), var(--kd-color-interactive-20));
  --kd-color-background-ui-default-pressed: light-dark(var(--kd-color-interactive-70), var(--kd-color-interactive-20));
  --kd-color-background-ui-default-focus: light-dark(var(--kd-color-interactive-60), var(--kd-color-interactive-20));
  --kd-color-background-ui-default-disabled: light-dark(var(--kd-color-opacity-dark-5), var(--kd-color-opacity-light-5));
  --kd-color-background-ui-default-secondary: light-dark(var(--kd-color-interactive-60), var(--kd-color-interactive-40));
  --kd-color-background-ui-hollow-default: light-dark(var(--kd-color-neutral-white), var(--kd-color-cool-gray-90));
  --kd-color-background-ui-hollow-hover: light-dark(var(--kd-color-interactive-10), var(--kd-color-interactive-70));
  --kd-color-background-ui-hollow-pressed: light-dark(var(--kd-color-interactive-20), var(--kd-color-interactive-30));
  --kd-color-background-button-primary-state-default: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-60));
  --kd-color-background-button-primary-state-hover: light-dark(var(--kd-color-spruce-70), var(--kd-color-spruce-50));
  --kd-color-background-button-primary-state-pressed: light-dark(var(--kd-color-spruce-80), var(--kd-color-spruce-70));
  --kd-color-background-button-primary-destructive-default: light-dark(var(--kd-color-misc-red-dark), var(--kd-color-misc-red-90));
  --kd-color-background-button-primary-destructive-hover: light-dark(var(--kd-color-misc-red-90), var(--kd-color-misc-red-80));
  --kd-color-background-button-primary-destructive-pressed: light-dark(var(--kd-color-misc-red-100), var(--kd-color-misc-red-100));
  --kd-color-background-button-primary-ai-default: light-dark(var(--kd-color-ai-interactive-45), var(--kd-color-ai-interactive-45));
  --kd-color-background-button-primary-ai-hover: light-dark(var(--kd-color-ai-interactive-70), var(--kd-color-ai-interactive-70));
  --kd-color-background-button-primary-ai-pressed: light-dark(var(--kd-color-ai-interactive-60), var(--kd-color-ai-interactive-70));
  --kd-color-background-button-web-default: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-cool-gray-60));
  --kd-color-background-button-web-hover: light-dark(var(--kd-color-dark-stone-60), var(--kd-color-cool-gray-80));
  --kd-color-background-button-web-pressed: light-dark(var(--kd-color-dark-stone-100), var(--kd-color-cool-gray-90));
  --kd-color-background-button-secondary-state-default: light-dark(var(--kd-color-interactive-95), var(--kd-color-interactive-105));
  --kd-color-background-button-secondary-state-hover: light-dark(var(--kd-color-interactive-105), var(--kd-color-interactive-100));
  --kd-color-background-button-secondary-state-pressed: light-dark(var(--kd-color-interactive-115), var(--kd-color-interactive-110));
  --kd-color-background-button-secondary-destructive-pressed: light-dark(var(--kd-color-misc-red-30), var(--kd-color-misc-red-90));
  --kd-color-background-button-secondary-destructive-hover: light-dark(var(--kd-color-misc-red-20), var(--kd-color-misc-red-80));
  --kd-color-background-button-secondary-destructive-default: light-dark(var(--kd-color-misc-red-10), var(--kd-color-misc-red-100));
  --kd-color-background-button-secondary-ai-default: light-dark(var(--kd-color-ai-interactive-01), var(--kd-color-ai-interactive-50));
  --kd-color-background-button-secondary-ai-hover: light-dark(var(--kd-color-ai-interactive-40), var(--kd-color-ai-interactive-30));
  --kd-color-background-button-secondary-ai-pressed: light-dark(var(--kd-color-ai-interactive-70), var(--kd-color-ai-interactive-60));
  --kd-color-background-button-tertiary-state-hover: light-dark(var(--kd-color-spruce-20), var(--kd-color-spruce-80));
  --kd-color-background-button-tertiary-state-pressed: light-dark(var(--kd-color-spruce-30), var(--kd-color-spruce-100));
  --kd-color-background-button-tertiary-state-default: light-dark(var(--kd-color-spruce-10), var(--kd-color-spruce-90));
  --kd-color-background-button-ghost-state-hover: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-95));
  --kd-color-background-button-ghost-state-pressed: light-dark(var(--kd-color-interactive-80-primary), var(--kd-color-interactive-110));
  --kd-color-background-accent-subtle: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-105));
  --kd-color-background-accent-secondary: light-dark(var(--kd-color-interactive-60), var(--kd-color-interactive-107));
  --kd-color-background-accent-tertiary: light-dark(var(--kd-color-dark-stone-20), var(--kd-color-cool-gray-70));
  --kd-color-background-accent-light: light-dark(var(--kd-color-interactive-10), var(--kd-color-interactive-110));
  --kd-color-background-opacity-1: light-dark(var(--kd-color-opacity-dark-3), var(--kd-color-opacity-light-3));
  --kd-color-background-opacity-2: light-dark(var(--kd-color-opacity-dark-2), var(--kd-color-opacity-light-3));
  --kd-color-background-opacity-3: light-dark(var(--kd-color-opacity-dark-3), var(--kd-color-opacity-light-5));
  --kd-color-background-opacity-4: light-dark(var(--kd-color-opacity-dark-40), var(--kd-color-opacity-light-40));
  --kd-color-background-opacity-8: light-dark(var(--kd-color-opacity-dark-50), var(--kd-color-opacity-dark-85));
  --kd-color-background-opacity-disabled: light-dark(var(--kd-color-opacity-dark-3), var(--kd-color-cool-gray-3));
  --kd-color-background-opacity-4---dark: light-dark(var(--kd-color-opacity-dark-40), var(--kd-color-opacity-dark-40));
  --kd-color-background-opacity-8---dark: light-dark(var(--kd-color-opacity-dark-85), var(--kd-color-opacity-dark-85));
  --kd-color-background-forms-secondary: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-105));
  --kd-color-background-forms-default: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-opacity-dark-30));
  --kd-color-background-forms-ai-default: light-dark(var(--kd-color-neutral-white), var(--kd-color-opacity-dark-30));
  --kd-color-background-forms-disabled: light-dark(var(--kd-color-warm-gray-10), var(--kd-color-cool-gray-90));
  --kd-color-background-table-row-active: light-dark(var(--kd-color-interactive-10), var(--kd-color-interactive-100));
  --kd-color-background-table-alt-row: light-dark(var(--kd-color-cool-gray-7), var(--kd-color-cool-gray-93));
  --kd-color-background-table-footer: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-interactive-105));
  --kd-color-background-table-row: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-cool-gray-90));
  --kd-color-background-table-row-active-nested: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-interactive-90));
  --kd-color-background-table-header: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-interactive-105));
  --kd-color-background-page-overlay: light-dark(var(--kd-color-opacity-light-50), var(--kd-color-opacity-dark-85));
  --kd-color-background-page-default: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-interactive-115));
  --kd-color-background-page-dashboard-dashboard-default: light-dark(var(--kd-color-warm-gray-10), var(--kd-color-interactive-115));
  --kd-color-background-logo-bridge-txt: light-dark(var(--kd-color-spruce-60), var(--kd-color-dark-stone-10));
  --kd-color-background-logo-ai-indicator-head: light-dark(var(--kd-color-ai-interactive-40), var(--kd-color-ai-interactive-20));
  --kd-color-background-logo-ai-indicator-halo: light-dark(var(--kd-color-ai-interactive-25), var(--kd-color-ai-interactive-opaque-30-80pct));
  --kd-color-background-logo-ai-indicator-background: light-dark(var(--kd-color-ai-interactive-10), var(--kd-color-ai-interactive-opaque-40-40pct));
  --kd-color-background-navigation-local-nav: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-opacity-light-3));
  --kd-color-background-navigation-footer: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-opacity-light-3));
  --kd-color-background-navigation-default: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-opacity-light-3));
  --kd-color-background-gradients-interactive-gradient-end: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-interactive-100));
  --kd-color-background-gradients-interactive-gradient-start: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-interactive-107));
  --kd-color-background-gradients-ai-linear-top-gradient-1: light-dark(var(--kd-color-ai-interactive-01), var(--kd-color-ai-interactive-70));
  --kd-color-background-gradients-ai-linear-bottom-gradient-1: light-dark(var(--kd-color-neutral-white), var(--kd-color-interactive-120));
  --kd-color-background-gradients-ai-loader-start-gradient: light-dark(var(--kd-color-ai-interactive-01), var(--kd-color-ai-interactive-75));
  --kd-color-background-gradients-ai-loader-end-gradient: light-dark(var(--kd-color-ai-interactive-25), var(--kd-color-ai-interactive-opaque-45-5pct));
  --kd-color-background-gradients-ai-loader-mid-gradient: light-dark(var(--kd-color-ai-interactive-10), var(--kd-color-ai-interactive-opaque-45-50pct));
  --kd-color-background-card-background: light-dark(var(--kd-color-cool-gray-3), var(--kd-color-opacity-light-3));
  --kd-color-background-card-default: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-opacity-light-5));
  --kd-color-background-card-hover: light-dark(var(--kd-color-cool-gray-7), var(--kd-color-opacity-light-10));
  --kd-color-background-highlight-fill: light-dark(var(--kd-color-skye-10), var(--kd-color-skye-80));
  --kd-color-background-highlight-border: light-dark(var(--kd-color-skye-20), var(--kd-color-skye-50));
  --kd-color-background-loader-skeleton-default: light-dark(var(--kd-color-dark-stone-20), var(--kd-color-dark-stone-70));
  --kd-color-background-loader-skeleton-secondary: light-dark(var(--kd-color-dark-stone-20), var(--kd-color-dark-stone-60));
  --kd-color-background-loader-skeleton-tertiary: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-dark-stone-60));
  --kd-color-background-loader-bar-primary: light-dark(var(--kd-color-dark-stone-50), var(--kd-color-cool-gray-10));
  --kd-color-background-loader-bar-secondary: light-dark(var(--kd-color-dark-stone-20), var(--kd-color-cool-gray-70));
  --kd-color-background-loader-progress-complete: light-dark(var(--kd-color-spruce-30), var(--kd-color-spruce-30));
  --kd-color-background-loader-progress-active: light-dark(var(--kd-color-interactive-70), var(--kd-color-interactive-80-primary));
  --kd-color-background-loader-progress-background: light-dark(var(--kd-color-interactive-10), var(--kd-color-interactive-105));
  --kd-color-background-link-level-default-light: light-dark(var(--kd-color-interactive-70), var(--kd-color-interactive-70));
  --kd-color-background-link-level-hover-light: light-dark(var(--kd-color-interactive-60), var(--kd-color-interactive-60));
  --kd-color-background-link-level-pressed-light: light-dark(var(--kd-color-interactive-95), var(--kd-color-interactive-95));
  --kd-color-background-link-level-disabled-light: light-dark(var(--kd-color-opacity-dark-30), var(--kd-color-opacity-dark-30));
  --kd-color-background-link-ai-default: light-dark(var(--kd-color-ai-interactive-45), var(--kd-color-ai-interactive-30));
  --kd-color-background-link-ai-hover: light-dark(var(--kd-color-ai-interactive-50), var(--kd-color-ai-interactive-20));
  --kd-color-background-link-ai-pressed: light-dark(var(--kd-color-ai-interactive-45), var(--kd-color-ai-interactive-30));
  --kd-color-background-link-ai-focused: light-dark(var(--kd-color-ai-interactive-45), var(--kd-color-ai-interactive-35));
  --kd-color-background-link-ai-disabled: light-dark(var(--kd-color-opacity-dark-30), var(--kd-color-opacity-light-30));
  --kd-color-background-link-ai-secondary: light-dark(var(--kd-color-ai-interactive-35), var(--kd-color-ai-interactive-35));
  --kd-color-background-menu-state-default: light-dark(var(--kd-color-interactive-3), var(--kd-color-interactive-110));
  --kd-color-background-menu-state-focused: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-115));
  --kd-color-background-menu-state-hover: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-70));
  --kd-color-background-menu-state-pressed: light-dark(var(--kd-color-spruce-90), var(--kd-color-spruce-90));
  --kd-color-background-menu-state-open: light-dark(var(--kd-color-spruce-80), var(--kd-color-spruce-80));
  --kd-color-background-menu-state-disabled: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-115));
  --kd-color-background-menu-state-category: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-115));
  --kd-color-background-menu-state-active: light-dark(var(--kd-color-spruce-70), var(--kd-color-spruce-50));
  --kd-color-background-menu-state-active-2: light-dark(var(--kd-color-spruce-20), var(--kd-color-spruce-40));
  --kd-color-text-level-primary: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-10));
  --kd-color-text-level-secondary: light-dark(var(--kd-color-dark-stone-60), var(--kd-color-dark-stone-20));
  --kd-color-text-level-tertiary: light-dark(var(--kd-color-interactive-90), var(--kd-color-spruce-30));
  --kd-color-text-level-tertiary-bold: light-dark(var(--kd-color-spruce-80), var(--kd-color-spruce-10));
  --kd-color-text-level-dark: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-80));
  --kd-color-text-level-light: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-dark-stone-10));
  --kd-color-text-level-disabled: light-dark(var(--kd-color-dark-stone-40), var(--kd-color-dark-stone-40));
  --kd-color-text-variant-brand: light-dark(var(--kd-color-warm-red-50-brand), var(--kd-color-warm-red-50-brand));
  --kd-color-text-variant-inversed: light-dark(var(--kd-color-neutral-white), var(--kd-color-dark-stone-80));
  --kd-color-text-variant-eyebrow: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-30));
  --kd-color-text-variant-destructive: light-dark(var(--kd-color-misc-red-dark), var(--kd-color-misc-red-light));
  --kd-color-text-variant-placeholder: light-dark(var(--kd-color-dark-stone-50), var(--kd-color-dark-stone-50));
  --kd-color-text-link-level-default: light-dark(var(--kd-color-spruce-60), var(--kd-color-spruce-20));
  --kd-color-text-link-level-hover: light-dark(var(--kd-color-spruce-70), var(--kd-color-spruce-50));
  --kd-color-text-link-level-pressed: light-dark(var(--kd-color-spruce-80), var(--kd-color-spruce-70));
  --kd-color-text-link-level-disabled: light-dark(var(--kd-color-opacity-dark-30), var(--kd-color-opacity-light-40));
  --kd-color-text-label-light-label: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-dark-stone-20));
  --kd-color-text-label-dark-label: light-dark(var(--kd-color-cool-gray-85), var(--kd-color-dark-stone-20));
  --kd-color-text-title-tertiary: light-dark(var(--kd-color-interactive-95), var(--kd-color-interactive-30));
  --kd-color-text-title-secondary: light-dark(var(--kd-color-interactive-105), var(--kd-color-interactive-15));
  --kd-color-text-title-primary: light-dark(var(--kd-color-interactive-115), var(--kd-color-interactive-5));
  --kd-color-text-title-ai-primary: light-dark(var(--kd-color-ai-interactive-80), var(--kd-color-ai-interactive-05));
  --kd-color-text-title-ai-secondary: light-dark(var(--kd-color-ai-interactive-70), var(--kd-color-ai-interactive-10));
  --kd-color-text-title-ai-tertiary: light-dark(var(--kd-color-ai-interactive-35), var(--kd-color-ai-interactive-25));
  --kd-color-text-forms-input-field-text: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-20));
  --kd-color-text-forms-label-secondary: light-dark(var(--kd-color-dark-stone-60), var(--kd-color-dark-stone-30));
  --kd-color-text-forms-label-primary: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-20));
  --kd-color-text-forms-disabled: light-dark(var(--kd-color-warm-gray-10), var(--kd-color-cool-gray-90));
  --kd-color-text-density-medium: light-dark(var(--kd-color-cool-gray-85), var(--kd-color-dark-stone-20));
  --kd-color-text-density-dark: light-dark(var(--kd-color-cool-gray-90), var(--kd-color-cool-gray-10));
  --kd-color-text-density-light: light-dark(var(--kd-color-cool-gray-8), var(--kd-color-opacity-light-86));
  --kd-color-text-button-light-primary: light-dark(var(--kd-color-interactive-110), var(--kd-color-interactive-10));
  --kd-color-text-button-light-destructive: light-dark(var(--kd-color-misc-red-dark), var(--kd-color-misc-red-light));
  --kd-color-text-button-light-secondary: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-30));
  --kd-color-text-button-light-tertiary: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-30));
  --kd-color-text-button-light-disabled: light-dark(var(--kd-color-interactive-90), var(--kd-color-cool-gray-5));
  --kd-color-text-button-dark-primary: light-dark(var(--kd-color-neutral-white), var(--kd-color-neutral-white));
  --kd-color-text-button-dark-destructive: light-dark(var(--kd-color-misc-red-light), var(--kd-color-misc-red-light));
  --kd-color-text-button-dark-secondary: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-cool-gray-5));
  --kd-color-text-button-dark-tertiary: light-dark(var(--kd-color-cool-gray-5), var(--kd-color-cool-gray-5));
  --kd-color-text-button-dark-disabled: light-dark(var(--kd-color-misc-red-light), var(--kd-color-misc-red-light));
  --kd-color-text-button-ai-default: light-dark(var(--kd-color-ai-interactive-60), var(--kd-color-ai-interactive-01));
  --kd-color-icon-primary: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-cool-gray-10));
  --kd-color-icon-secondary: light-dark(var(--kd-color-dark-stone-60), var(--kd-color-cool-gray-30));
  --kd-color-icon-tertiary: light-dark(var(--kd-color-spruce-60), var(--kd-color-spruce-20));
  --kd-color-icon-inverse: light-dark(var(--kd-color-neutral-white), var(--kd-color-cool-gray-90));
  --kd-color-icon-brand: light-dark(var(--kd-color-warm-red-50-brand), var(--kd-color-warm-red-50-brand));
  --kd-color-icon-disabled: light-dark(var(--kd-color-dark-stone-40), var(--kd-color-dark-stone-60));
  --kd-color-icon-destructive: light-dark(var(--kd-color-warm-red-70), var(--kd-color-warm-red-40));
  --kd-color-icon-switcher-icon: light-dark(var(--kd-color-interactive-80-primary), var(--kd-color-interactive-60));
  --kd-color-icon-accent: light-dark(var(--kd-color-skye-30), var(--kd-color-skye-50));
  --kd-color-icon-duotone-primary: light-dark(var(--kd-color-cool-gray-80), var(--kd-color-cool-gray-10));
  --kd-color-icon-duotone-secondary: light-dark(var(--kd-color-warm-red-50-brand), var(--kd-color-warm-red-50-brand));
  --kd-color-icon-duotone-inverse-primary: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-dark-stone-10));
  --kd-color-icon-duotone-inverse-secondary: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-dark-stone-10));
  --kd-color-icon-dark: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-80));
  --kd-color-icon-light: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-dark-stone-10));
  --kd-color-icon-interactive-primary: light-dark(var(--kd-color-spruce-40), var(--kd-color-spruce-40));
  --kd-color-icon-interactive-secondary: light-dark(var(--kd-color-spruce-20), var(--kd-color-spruce-20));
  --kd-color-icon-ai: light-dark(var(--kd-color-ai-interactive-35), var(--kd-color-ai-interactive-35));
  --kd-color-border-variants-light: light-dark(var(--kd-color-dark-stone-20), var(--kd-color-opacity-light-10));
  --kd-color-border-variants-focus: light-dark(var(--kd-color-spruce-40), var(--kd-color-spruce-40));
  --kd-color-border-variants-destructive: light-dark(var(--kd-color-warm-red-70), var(--kd-color-warm-red-30));
  --kd-color-border-variants-brand: light-dark(var(--kd-color-warm-red-50-brand), var(--kd-color-warm-red-50-brand));
  --kd-color-border-variants-inverse: light-dark(var(--kd-color-neutral-white), var(--kd-color-cool-gray-90));
  --kd-color-border-variants-transparent: light-dark(var(--kd-color-opacity-dark-0), var(--kd-color-opacity-dark-0));
  --kd-color-border-variants-ai: light-dark(var(--kd-color-ai-interactive-20), var(--kd-color-ai-interactive-60));
  --kd-color-border-level-primary: light-dark(var(--kd-color-opacity-dark-30), var(--kd-color-opacity-light-30));
  --kd-color-border-level-secondary: light-dark(var(--kd-color-opacity-dark-20), var(--kd-color-opacity-light-20));
  --kd-color-border-level-tertiary: light-dark(var(--kd-color-opacity-dark-10), var(--kd-color-opacity-light-10));
  --kd-color-border-level-ai-primary: light-dark(var(--kd-color-ai-interactive-35), var(--kd-color-ai-interactive-30));
  --kd-color-border-level-ai-secondary: light-dark(var(--kd-color-ai-interactive-25), var(--kd-color-ai-interactive-50));
  --kd-color-border-level-ai-tertiary: light-dark(var(--kd-color-ai-interactive-10), var(--kd-color-ai-interactive-70));
  --kd-color-border-ui-pressed: light-dark(var(--kd-color-interactive-80-primary), var(--kd-color-interactive-10));
  --kd-color-border-ui-default: light-dark(var(--kd-color-opacity-dark-20), var(--kd-color-opacity-light-30));
  --kd-color-border-ui-hover: light-dark(var(--kd-color-interactive-60), var(--kd-color-interactive-20));
  --kd-color-border-ui-disabled: light-dark(var(--kd-color-opacity-dark-20), var(--kd-color-opacity-light-20));
  --kd-color-border-ui-error: light-dark(var(--kd-color-rag-error-100), var(--kd-color-rag-error-20));
  --kd-color-border-ui-component-border: light-dark(var(--kd-color-blush-60), var(--kd-color-interactive-50));
  --kd-color-border-accent-primary: light-dark(var(--kd-color-spring-green-20), var(--kd-color-spring-green-80));
  --kd-color-border-accent-secondary: light-dark(var(--kd-color-interactive-15), var(--kd-color-interactive-100));
  --kd-color-border-card-hover: light-dark(var(--kd-color-spruce-20), var(--kd-color-spruce-20));
  --kd-color-border-card-default: light-dark(var(--kd-color-opacity-dark-10), var(--kd-color-opacity-light-20));
  --kd-color-border-card-clickable: light-dark(var(--kd-color-spruce-40), var(--kd-color-spruce-40));
  --kd-color-border-forms-default: light-dark(var(--kd-color-dark-stone-50), var(--kd-color-cool-gray-40));
  --kd-color-border-button-primary-destructive-default: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-20));
  --kd-color-border-button-primary-destructive-hover: light-dark(var(--kd-color-warm-red-70), var(--kd-color-warm-red-30));
  --kd-color-border-button-primary-destructive-pressed: light-dark(var(--kd-color-warm-red-90), var(--kd-color-warm-red-30));
  --kd-color-border-button-primary-destructive-focused: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-20));
  --kd-color-border-button-primary-state-pressed: light-dark(var(--kd-color-spruce-70), var(--kd-color-spruce-50));
  --kd-color-border-button-primary-state-hover: light-dark(var(--kd-color-spruce-60), var(--kd-color-spruce-40));
  --kd-color-border-button-primary-state-focused: light-dark(var(--kd-color-spruce-40), var(--kd-color-spruce-50));
  --kd-color-border-button-primary-state-default: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-30));
  --kd-color-border-button-secondary-state-pressed: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-60));
  --kd-color-border-button-secondary-state-hover: light-dark(var(--kd-color-spruce-40), var(--kd-color-spruce-50));
  --kd-color-border-button-secondary-state-focused: light-dark(var(--kd-color-spruce-50), var(--kd-color-spruce-60));
  --kd-color-border-button-secondary-state-default: light-dark(var(--kd-color-spruce-30), var(--kd-color-spruce-40));
  --kd-color-border-button-secondary-destructive-default: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-20));
  --kd-color-border-button-secondary-destructive-hover: light-dark(var(--kd-color-warm-red-70), var(--kd-color-warm-red-30));
  --kd-color-border-button-secondary-destructive-pressed: light-dark(var(--kd-color-warm-red-90), var(--kd-color-warm-red-30));
  --kd-color-border-button-secondary-destructive-focused: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-20));
  --kd-color-border-button-tertiary-state-hover: light-dark(var(--kd-color-spruce-30), var(--kd-color-spruce-10));
  --kd-color-border-button-tertiary-state-focused: light-dark(var(--kd-color-spruce-30), var(--kd-color-spruce-50));
  --kd-color-border-button-tertiary-state-pressed: light-dark(var(--kd-color-spruce-30), var(--kd-color-spruce-50));
  --kd-color-border-button-tertiary-state-default: light-dark(var(--kd-color-spruce-20), var(--kd-color-spruce-30));
  --kd-color-border-button-ai-state-default: light-dark(var(--kd-color-ai-interactive-30), var(--kd-color-ai-interactive-40));
  --kd-color-border-button-ai-state-focused: light-dark(var(--kd-color-ai-interactive-40), var(--kd-color-ai-interactive-20));
  --kd-color-border-button-ai-state-hover: light-dark(var(--kd-color-ai-interactive-50), var(--kd-color-ai-interactive-50));
  --kd-color-border-button-ai-state-pressed: light-dark(var(--kd-color-ai-interactive-70), var(--kd-color-ai-interactive-70));
  --kd-color-border-button-ai-state-highlight: light-dark(var(--kd-color-ai-interactive-40), var(--kd-color-ai-interactive-40));
  --kd-color-border-dropshadow-ai: light-dark(var(--kd-color-ai-interactive-10), var(--kd-color-ai-interactive-100));
  --kd-color-border-ai-subtle: light-dark(var(--kd-color-ai-interactive-15), var(--kd-color-ai-interactive-80));
  --kd-color-border-container-hover: light-dark(var(--kd-color-spruce-40), var(--kd-color-spruce-40));
  --kd-color-border-container-selected: light-dark(var(--kd-color-spruce-70), var(--kd-color-spruce-70));
  --kd-color-border-container-default: light-dark(var(--kd-color-opacity-dark-10), var(--kd-color-opacity-light-20));
  --kd-color-status-informational-light: light-dark(var(--kd-color-rag-information-20), var(--kd-color-rag-information-20));
  --kd-color-status-informational-dark: light-dark(var(--kd-color-rag-information-100), var(--kd-color-rag-information-100));
  --kd-color-status-informational-accent: light-dark(var(--kd-color-rag-information-10), var(--kd-color-spruce-70));
  --kd-color-status-informational-foreground: light-dark(var(--kd-color-rag-information-100), var(--kd-color-neutral-white));
  --kd-color-status-warning-light: light-dark(var(--kd-color-rag-warning-20), var(--kd-color-rag-warning-20));
  --kd-color-status-warning-dark: light-dark(var(--kd-color-rag-warning-100), var(--kd-color-rag-warning-100));
  --kd-color-status-warning-accent: light-dark(var(--kd-color-rag-warning-10), var(--kd-color-misc-yellow-30));
  --kd-color-status-warning-foreground: light-dark(var(--kd-color-rag-warning-100), var(--kd-color-neutral-white));
  --kd-color-status-warning-foreground---dark: light-dark(var(--kd-color-rag-warning-100), var(--kd-color-neutral-black));
  --kd-color-status-error-light: light-dark(var(--kd-color-rag-error-20), var(--kd-color-rag-error-20));
  --kd-color-status-error-dark: light-dark(var(--kd-color-rag-error-100), var(--kd-color-rag-error-100));
  --kd-color-status-error-accent: light-dark(var(--kd-color-misc-red-light), var(--kd-color-misc-red-80));
  --kd-color-status-error-critical-dark: light-dark(var(--kd-color-rag-critical-100), var(--kd-color-rag-critical-100));
  --kd-color-status-error-critical-light: light-dark(var(--kd-color-rag-critical-20), var(--kd-color-rag-critical-20));
  --kd-color-status-error-foreground: light-dark(var(--kd-color-rag-error-100), var(--kd-color-neutral-white));
  --kd-color-status-success-light: light-dark(var(--kd-color-rag-success-20), var(--kd-color-rag-success-20));
  --kd-color-status-success-dark: light-dark(var(--kd-color-rag-success-100), var(--kd-color-rag-success-100));
  --kd-color-status-success-accent: light-dark(var(--kd-color-rag-success-10), var(--kd-color-misc-green-60));
  --kd-color-status-success-foreground: light-dark(var(--kd-color-rag-success-100), var(--kd-color-neutral-white));
  --kd-color-status-neutral-light: light-dark(var(--kd-color-cool-gray-8), var(--kd-color-cool-gray-85));
  --kd-color-status-neutral-dark: light-dark(var(--kd-color-cool-gray-70), var(--kd-color-cool-gray-70));
  --kd-color-status-neutral-foreground: light-dark(var(--kd-color-cool-gray-95), var(--kd-color-neutral-white));
  --kd-color-data-viz-categorical-01-10: light-dark(var(--kd-color-lilac-20), var(--kd-color-lilac-30));
  --kd-color-data-viz-categorical-01-09: light-dark(var(--kd-color-blush-40), var(--kd-color-blush-10));
  --kd-color-data-viz-categorical-01-08: light-dark(var(--kd-color-amber-20), var(--kd-color-amber-30));
  --kd-color-data-viz-categorical-01-07: light-dark(var(--kd-color-jade-40), var(--kd-color-jade-10));
  --kd-color-data-viz-categorical-01-01: light-dark(var(--kd-color-sea-40), var(--kd-color-sea-40));
  --kd-color-data-viz-categorical-01-05: light-dark(var(--kd-color-lilac-40), var(--kd-color-lilac-10));
  --kd-color-data-viz-categorical-01-06: light-dark(var(--kd-color-sea-20), var(--kd-color-sea-20));
  --kd-color-data-viz-categorical-01-04: light-dark(var(--kd-color-blush-20), var(--kd-color-blush-30));
  --kd-color-data-viz-categorical-01-03: light-dark(var(--kd-color-amber-40), var(--kd-color-amber-10));
  --kd-color-data-viz-categorical-01-02: light-dark(var(--kd-color-jade-20), var(--kd-color-jade-30));
  --kd-color-data-viz-divergent-01-positive-10: light-dark(var(--kd-color-sea-10), var(--kd-color-sea-100));
  --kd-color-data-viz-divergent-01-positive-20: light-dark(var(--kd-color-sea-20), var(--kd-color-sea-90));
  --kd-color-data-viz-divergent-01-positive-30: light-dark(var(--kd-color-sea-30), var(--kd-color-sea-80));
  --kd-color-data-viz-divergent-01-positive-40: light-dark(var(--kd-color-sea-40), var(--kd-color-sea-70));
  --kd-color-data-viz-divergent-01-positive-50: light-dark(var(--kd-color-sea-50), var(--kd-color-sea-60));
  --kd-color-data-viz-divergent-01-positive-60: light-dark(var(--kd-color-sea-60), var(--kd-color-sea-50));
  --kd-color-data-viz-divergent-01-positive-70: light-dark(var(--kd-color-sea-70), var(--kd-color-sea-40));
  --kd-color-data-viz-divergent-01-positive-80: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-30));
  --kd-color-data-viz-divergent-01-positive-90: light-dark(var(--kd-color-sea-90), var(--kd-color-sea-20));
  --kd-color-data-viz-divergent-01-positive-100: light-dark(var(--kd-color-sea-100), var(--kd-color-sea-10));
  --kd-color-data-viz-divergent-01-negative-10: light-dark(var(--kd-color-amber-10), var(--kd-color-amber-100));
  --kd-color-data-viz-divergent-01-negative-20: light-dark(var(--kd-color-amber-20), var(--kd-color-amber-90));
  --kd-color-data-viz-divergent-01-negative-30: light-dark(var(--kd-color-amber-30), var(--kd-color-amber-80));
  --kd-color-data-viz-divergent-01-negative-40: light-dark(var(--kd-color-amber-40), var(--kd-color-amber-70));
  --kd-color-data-viz-divergent-01-negative-50: light-dark(var(--kd-color-amber-50), var(--kd-color-amber-60));
  --kd-color-data-viz-divergent-01-negative-60: light-dark(var(--kd-color-amber-60), var(--kd-color-amber-50));
  --kd-color-data-viz-divergent-01-negative-70: light-dark(var(--kd-color-amber-70), var(--kd-color-amber-40));
  --kd-color-data-viz-divergent-01-negative-80: light-dark(var(--kd-color-amber-80), var(--kd-color-amber-30));
  --kd-color-data-viz-divergent-01-negative-90: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-20));
  --kd-color-data-viz-divergent-01-negative-100: light-dark(var(--kd-color-amber-100), var(--kd-color-amber-10));
  --kd-color-data-viz-divergent-01-neutral: light-dark(var(--kd-color-neutral-div-01-neutral), var(--kd-color-dark-stone-80));
  --kd-color-data-viz-divergent-02-positive-10: light-dark(var(--kd-color-jade-10), var(--kd-color-jade-100));
  --kd-color-data-viz-divergent-02-positive-20: light-dark(var(--kd-color-jade-20), var(--kd-color-jade-90));
  --kd-color-data-viz-divergent-02-positive-30: light-dark(var(--kd-color-jade-30), var(--kd-color-jade-80));
  --kd-color-data-viz-divergent-02-positive-40: light-dark(var(--kd-color-jade-40), var(--kd-color-jade-70));
  --kd-color-data-viz-divergent-02-positive-50: light-dark(var(--kd-color-jade-50), var(--kd-color-jade-60));
  --kd-color-data-viz-divergent-02-positive-60: light-dark(var(--kd-color-jade-60), var(--kd-color-jade-50));
  --kd-color-data-viz-divergent-02-positive-70: light-dark(var(--kd-color-jade-70), var(--kd-color-jade-40));
  --kd-color-data-viz-divergent-02-positive-80: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-30));
  --kd-color-data-viz-divergent-02-positive-90: light-dark(var(--kd-color-jade-90), var(--kd-color-jade-20));
  --kd-color-data-viz-divergent-02-positive-100: light-dark(var(--kd-color-jade-100), var(--kd-color-jade-10));
  --kd-color-data-viz-divergent-02-neutral: light-dark(var(--kd-color-neutral-div-02-neutral), var(--kd-color-dark-stone-80));
  --kd-color-data-viz-divergent-02-negative-10: light-dark(var(--kd-color-blush-10), var(--kd-color-blush-100));
  --kd-color-data-viz-divergent-02-negative-20: light-dark(var(--kd-color-blush-20), var(--kd-color-blush-90));
  --kd-color-data-viz-divergent-02-negative-30: light-dark(var(--kd-color-blush-30), var(--kd-color-blush-80));
  --kd-color-data-viz-divergent-02-negative-40: light-dark(var(--kd-color-blush-40), var(--kd-color-blush-70));
  --kd-color-data-viz-divergent-02-negative-50: light-dark(var(--kd-color-blush-50), var(--kd-color-blush-60));
  --kd-color-data-viz-divergent-02-negative-60: light-dark(var(--kd-color-blush-60), var(--kd-color-blush-50));
  --kd-color-data-viz-divergent-02-negative-70: light-dark(var(--kd-color-blush-70), var(--kd-color-blush-40));
  --kd-color-data-viz-divergent-02-negative-80: light-dark(var(--kd-color-blush-80), var(--kd-color-blush-30));
  --kd-color-data-viz-divergent-02-negative-90: light-dark(var(--kd-color-blush-90), var(--kd-color-blush-20));
  --kd-color-data-viz-divergent-02-negative-100: light-dark(var(--kd-color-blush-100), var(--kd-color-blush-10));
  --kd-color-data-viz-sequential-01-10: light-dark(var(--kd-color-sea-10), var(--kd-color-sea-100));
  --kd-color-data-viz-sequential-01-20: light-dark(var(--kd-color-sea-20), var(--kd-color-sea-90));
  --kd-color-data-viz-sequential-01-30: light-dark(var(--kd-color-sea-30), var(--kd-color-sea-80));
  --kd-color-data-viz-sequential-01-40: light-dark(var(--kd-color-sea-40), var(--kd-color-sea-70));
  --kd-color-data-viz-sequential-01-50: light-dark(var(--kd-color-sea-50), var(--kd-color-sea-60));
  --kd-color-data-viz-sequential-01-60: light-dark(var(--kd-color-sea-60), var(--kd-color-sea-50));
  --kd-color-data-viz-sequential-01-70: light-dark(var(--kd-color-sea-70), var(--kd-color-sea-40));
  --kd-color-data-viz-sequential-01-80: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-30));
  --kd-color-data-viz-sequential-01-90: light-dark(var(--kd-color-sea-90), var(--kd-color-sea-20));
  --kd-color-data-viz-sequential-01-100: light-dark(var(--kd-color-sea-100), var(--kd-color-sea-10));
  --kd-color-data-viz-sequential-02-10: light-dark(var(--kd-color-jade-10), var(--kd-color-jade-100));
  --kd-color-data-viz-sequential-02-20: light-dark(var(--kd-color-jade-20), var(--kd-color-jade-90));
  --kd-color-data-viz-sequential-02-30: light-dark(var(--kd-color-jade-30), var(--kd-color-jade-80));
  --kd-color-data-viz-sequential-02-40: light-dark(var(--kd-color-jade-40), var(--kd-color-jade-70));
  --kd-color-data-viz-sequential-02-50: light-dark(var(--kd-color-jade-50), var(--kd-color-jade-60));
  --kd-color-data-viz-sequential-02-60: light-dark(var(--kd-color-jade-60), var(--kd-color-jade-50));
  --kd-color-data-viz-sequential-02-70: light-dark(var(--kd-color-jade-70), var(--kd-color-jade-40));
  --kd-color-data-viz-sequential-02-80: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-30));
  --kd-color-data-viz-sequential-02-90: light-dark(var(--kd-color-jade-90), var(--kd-color-jade-20));
  --kd-color-data-viz-sequential-02-100: light-dark(var(--kd-color-jade-100), var(--kd-color-jade-10));
  --kd-color-data-viz-sequential-03-10: light-dark(var(--kd-color-amber-10), var(--kd-color-amber-100));
  --kd-color-data-viz-sequential-03-20: light-dark(var(--kd-color-amber-20), var(--kd-color-amber-90));
  --kd-color-data-viz-sequential-03-30: light-dark(var(--kd-color-amber-30), var(--kd-color-amber-80));
  --kd-color-data-viz-sequential-03-40: light-dark(var(--kd-color-amber-40), var(--kd-color-amber-70));
  --kd-color-data-viz-sequential-03-50: light-dark(var(--kd-color-amber-50), var(--kd-color-amber-60));
  --kd-color-data-viz-sequential-03-60: light-dark(var(--kd-color-amber-60), var(--kd-color-amber-50));
  --kd-color-data-viz-sequential-03-70: light-dark(var(--kd-color-amber-70), var(--kd-color-amber-40));
  --kd-color-data-viz-sequential-03-80: light-dark(var(--kd-color-amber-80), var(--kd-color-amber-30));
  --kd-color-data-viz-sequential-03-90: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-20));
  --kd-color-data-viz-sequential-03-100: light-dark(var(--kd-color-amber-100), var(--kd-color-amber-10));
  --kd-color-data-viz-sequential-04-10: light-dark(var(--kd-color-blush-10), var(--kd-color-blush-100));
  --kd-color-data-viz-sequential-04-20: light-dark(var(--kd-color-blush-20), var(--kd-color-blush-90));
  --kd-color-data-viz-sequential-04-30: light-dark(var(--kd-color-blush-30), var(--kd-color-blush-80));
  --kd-color-data-viz-sequential-04-40: light-dark(var(--kd-color-blush-40), var(--kd-color-blush-70));
  --kd-color-data-viz-sequential-04-50: light-dark(var(--kd-color-blush-50), var(--kd-color-blush-60));
  --kd-color-data-viz-sequential-04-60: light-dark(var(--kd-color-blush-60), var(--kd-color-blush-50));
  --kd-color-data-viz-sequential-04-70: light-dark(var(--kd-color-blush-70), var(--kd-color-blush-40));
  --kd-color-data-viz-sequential-04-80: light-dark(var(--kd-color-blush-80), var(--kd-color-blush-30));
  --kd-color-data-viz-sequential-04-90: light-dark(var(--kd-color-blush-90), var(--kd-color-blush-20));
  --kd-color-data-viz-sequential-04-100: light-dark(var(--kd-color-blush-100), var(--kd-color-blush-10));
  --kd-color-data-viz-sequential-05-10: light-dark(var(--kd-color-lilac-10), var(--kd-color-lilac-100));
  --kd-color-data-viz-sequential-05-20: light-dark(var(--kd-color-lilac-20), var(--kd-color-lilac-90));
  --kd-color-data-viz-sequential-05-30: light-dark(var(--kd-color-lilac-30), var(--kd-color-lilac-80));
  --kd-color-data-viz-sequential-05-40: light-dark(var(--kd-color-lilac-40), var(--kd-color-lilac-70));
  --kd-color-data-viz-sequential-05-50: light-dark(var(--kd-color-lilac-50), var(--kd-color-lilac-60));
  --kd-color-data-viz-sequential-05-60: light-dark(var(--kd-color-lilac-60), var(--kd-color-lilac-50));
  --kd-color-data-viz-sequential-05-70: light-dark(var(--kd-color-lilac-70), var(--kd-color-lilac-40));
  --kd-color-data-viz-sequential-05-80: light-dark(var(--kd-color-lilac-80), var(--kd-color-lilac-30));
  --kd-color-data-viz-sequential-05-90: light-dark(var(--kd-color-lilac-90), var(--kd-color-lilac-20));
  --kd-color-data-viz-sequential-05-100: light-dark(var(--kd-color-lilac-100), var(--kd-color-lilac-10));
  --kd-color-data-viz-rag-3-warning: light-dark(var(--kd-color-rag-warning-100), var(--kd-color-rag-warning-100));
  --kd-color-data-viz-rag-3-error: light-dark(var(--kd-color-rag-error-100), var(--kd-color-rag-error-100));
  --kd-color-data-viz-rag-3-success: light-dark(var(--kd-color-rag-success-100), var(--kd-color-rag-success-100));
  --kd-color-data-viz-rag-8-success-light: light-dark(var(--kd-color-rag-success-20), var(--kd-color-rag-success-20));
  --kd-color-data-viz-rag-8-success: light-dark(var(--kd-color-rag-success-100), var(--kd-color-rag-success-100));
  --kd-color-data-viz-rag-8-error-light: light-dark(var(--kd-color-rag-error-20), var(--kd-color-rag-error-20));
  --kd-color-data-viz-rag-8-warning-light: light-dark(var(--kd-color-rag-warning-20), var(--kd-color-rag-warning-20));
  --kd-color-data-viz-rag-8-error: light-dark(var(--kd-color-rag-error-100), var(--kd-color-rag-error-100));
  --kd-color-data-viz-rag-8-warning: light-dark(var(--kd-color-rag-warning-100), var(--kd-color-rag-warning-100));
  --kd-color-data-viz-rag-8-informational-light: light-dark(var(--kd-color-rag-information-20), var(--kd-color-rag-information-20));
  --kd-color-data-viz-rag-8-informational: light-dark(var(--kd-color-rag-information-100), var(--kd-color-rag-information-100));
  --kd-color-data-viz-level-secondary: light-dark(var(--kd-color-warm-gray-30), var(--kd-color-warm-gray-60));
  --kd-color-data-viz-level-primary: light-dark(var(--kd-color-warm-gray-40), var(--kd-color-warm-gray-30));
  --kd-color-utility-interactive-graphic-alt: light-dark(var(--kd-color-cool-gray-30), var(--kd-color-cool-gray-60));
  --kd-color-utility-interactive-graphic: light-dark(var(--kd-color-cool-gray-20), var(--kd-color-cool-gray-80));
  --kd-color-utility-elevation-default-1: light-dark(var(--kd-color-opacity-dark-10), var(--kd-color-opacity-dark-10));
  --kd-color-utility-elevation-default-2: light-dark(var(--kd-color-opacity-dark-3), var(--kd-color-opacity-dark-10));
  --kd-color-utility-elevation-default-l1: #3d3c3c33;
  --kd-color-utility-elevation-default-l2: #3d3c3c4d;
  --kd-color-utility-elevation-default-l2---overflow: #3d3c3c80;
  --kd-color-utility-elevation-default-l3: #3d3c3c40;
  --kd-color-utility-elevation-default-l4: #3d3c3c26;
  --kd-color-utility-elevation-ai-l1: light-dark(var(--kd-color-ai-interactive-shadow-light-20), var(--kd-color-ai-interactive-shadow-dark-20));
  --kd-color-utility-elevation-ai-l2: light-dark(var(--kd-color-ai-interactive-shadow-light-30), var(--kd-color-ai-interactive-shadow-dark-30));
  --kd-color-utility-elevation-ai-l2---overflow: light-dark(var(--kd-color-ai-interactive-shadow-light-50), var(--kd-color-ai-interactive-shadow-dark-50));
  --kd-color-utility-elevation-ai-l3: light-dark(var(--kd-color-ai-interactive-shadow-light-50), var(--kd-color-ai-interactive-shadow-dark-50));
  --kd-color-utility-elevation-ai-l4: light-dark(var(--kd-color-ai-interactive-shadow-light-15), var(--kd-color-ai-interactive-shadow-dark-15));
  --kd-color-utility-variant-border: light-dark(var(--kd-color-spruce-30), var(--kd-color-spruce-30));
  --kd-color-states-disabled-label: light-dark(var(--kd-color-warm-gray-50), var(--kd-color-warm-gray-50));
  --kd-color-states-static-solid-label: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-cool-gray-5));
  --kd-color-states-disabled: light-dark(var(--kd-color-dark-stone-20), var(--kd-color-dark-stone-80));
  --kd-color-states-static: light-dark(var(--kd-color-cool-gray-95), var(--kd-color-cool-gray-5));
  --kd-color-main-palette-accent: light-dark(var(--kd-color-warm-red-50-brand), var(--kd-color-warm-red-50-brand));
  --kd-color-main-palette-secondary: light-dark(var(--kd-color-spruce-60), var(--kd-color-spruce-20));
  --kd-color-main-palette-tertiary: light-dark(var(--kd-color-spring-green-20), var(--kd-color-spring-green-80));
  --kd-color-main-palette-primary: light-dark(var(--kd-color-interactive-70), var(--kd-color-interactive-70));
  --kd-color-container-footer: light-dark(var(--kd-color-interactive-10), var(--kd-color-interactive-105));
  --kd-color-container-interactive-flat: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-107));
  --kd-color-container-utility: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-105));
  --kd-color-date-and-time-picker-text-placeholder: light-dark(var(--kd-color-dark-stone-60), var(--kd-color-dark-stone-20));
  --kd-color-date-and-time-picker-text-default: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-10));
  --kd-color-date-and-time-picker-text-secondary: light-dark(var(--kd-color-dark-stone-40), var(--kd-color-dark-stone-40));
  --kd-color-date-and-time-picker-text-title: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-dark-stone-10));
  --kd-color-date-and-time-picker-text-inverse: light-dark(var(--kd-color-neutral-white), var(--kd-color-neutral-black));
  --kd-color-date-and-time-picker-text-dark: light-dark(var(--kd-color-neutral-black), var(--kd-color-neutral-black));
  --kd-color-date-and-time-picker-text-light: light-dark(var(--kd-color-neutral-white), var(--kd-color-neutral-white));
  --kd-color-date-and-time-picker-icon-default: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-cool-gray-10));
  --kd-color-date-and-time-picker-background-container: light-dark(var(--kd-color-interactive-5), var(--kd-color-interactive-105));
  --kd-color-date-and-time-picker-background-hover: light-dark(var(--kd-color-interactive-10), var(--kd-color-interactive-60));
  --kd-color-date-and-time-picker-background-default: light-dark(var(--kd-color-interactive-80-primary), var(--kd-color-cool-gray-10));
  --kd-color-date-and-time-picker-background-pressed: light-dark(var(--kd-color-interactive-20), var(--kd-color-interactive-30));
  --kd-color-date-and-time-picker-background-container-2: light-dark(var(--kd-color-interactive-10), var(--kd-color-interactive-107));
  --kd-color-date-and-time-picker-border-focus: light-dark(var(--kd-color-interactive-60), var(--kd-color-interactive-20));
  --kd-color-code-view-builtin: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-20));
  --kd-color-code-view-boolean: light-dark(var(--kd-color-warm-red-90), var(--kd-color-warm-red-10));
  --kd-color-code-view-background: light-dark(var(--kd-color-dark-stone-10), var(--kd-color-cool-gray-90));
  --kd-color-code-view-languagestring: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-10));
  --kd-color-code-view-variable: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-10));
  --kd-color-code-view-unit: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-tag: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-symbol: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-string: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-20));
  --kd-color-code-view-punctuation: light-dark(var(--kd-color-cool-gray-60), var(--kd-color-cool-gray-20));
  --kd-color-code-view-attribute: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-10));
  --kd-color-code-view-pseudo-class: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-10));
  --kd-color-code-view-selector: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-20));
  --kd-color-code-view-number: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-inserted: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-20));
  --kd-color-code-view-important: light-dark(var(--kd-color-amber-70), var(--kd-color-amber-20));
  --kd-color-code-view-property: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-prolog: light-dark(var(--kd-color-cool-gray-60), var(--kd-color-cool-gray-20));
  --kd-color-code-view-hexcode: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-operator: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-10));
  --kd-color-code-view-id: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-doctype: light-dark(var(--kd-color-cool-gray-60), var(--kd-color-cool-gray-30));
  --kd-color-code-view-parameter: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-neutral-white));
  --kd-color-code-view-char: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-20));
  --kd-color-code-view-deleted: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-class: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-20));
  --kd-color-code-view-attr-value: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-10));
  --kd-color-code-view-entity: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-10));
  --kd-color-code-view-cdata: light-dark(var(--kd-color-cool-gray-60), var(--kd-color-cool-gray-30));
  --kd-color-code-view-default: light-dark(var(--kd-color-dark-stone-80), var(--kd-color-neutral-white));
  --kd-color-code-view-function: light-dark(var(--kd-color-blush-70), var(--kd-color-blush-20));
  --kd-color-code-view-constant: light-dark(var(--kd-color-warm-red-80), var(--kd-color-warm-red-10));
  --kd-color-code-view-pseudo-element: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-10));
  --kd-color-code-view-class-name: light-dark(var(--kd-color-blush-70), var(--kd-color-blush-20));
  --kd-color-code-view-comment: light-dark(var(--kd-color-cool-gray-60), var(--kd-color-cool-gray-20));
  --kd-color-code-view-attr-name: light-dark(var(--kd-color-jade-80), var(--kd-color-jade-20));
  --kd-color-code-view-url: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-10));
  --kd-color-code-view-keyword: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-10));
  --kd-color-code-view-regex: light-dark(var(--kd-color-amber-70), var(--kd-color-amber-20));
  --kd-color-code-view-atrule: light-dark(var(--kd-color-sea-80), var(--kd-color-sea-10));
  --kd-color-code-view-console: light-dark(var(--kd-color-blush-70), var(--kd-color-blush-20));
  --kd-color-code-view-method: light-dark(var(--kd-color-blush-70), var(--kd-color-blush-20));
  --kd-color-code-view-language-javascript: light-dark(var(--kd-color-amber-90), var(--kd-color-amber-10));
  --kd-color-tags-background-interactive: light-dark(var(--kd-color-earth-10), var(--kd-color-interactive-15));
  --kd-color-tags-background-cat-1: light-dark(var(--kd-color-sea-10), var(--kd-color-sea-10));
  --kd-color-tags-background-spruce: light-dark(var(--kd-color-spruce-10), var(--kd-color-spruce-20));
  --kd-color-tags-background-cat-2: light-dark(var(--kd-color-jade-10), var(--kd-color-jade-30));
  --kd-color-tags-background-cat-3: light-dark(var(--kd-color-amber-10), var(--kd-color-amber-30));
  --kd-color-tags-background-cat-4: light-dark(var(--kd-color-blush-10), var(--kd-color-blush-30));
  --kd-color-tags-background-cat-5: light-dark(var(--kd-color-lilac-10), var(--kd-color-lilac-30));
  --kd-color-tags-background-cat-6: light-dark(var(--kd-color-ai-interactive-10), var(--kd-color-ai-interactive-15));
  --kd-color-tags-background-gray: light-dark(var(--kd-color-cool-gray-10), var(--kd-color-cool-gray-10));
  --kd-color-tags-background-disabled: light-dark(var(--kd-color-warm-gray-10), var(--kd-color-warm-gray-80));
  --kd-color-tags-background-information-dark: light-dark(var(--kd-color-rag-information-100), var(--kd-color-rag-information-100));
  --kd-color-tags-background-error-dark: light-dark(var(--kd-color-rag-error-100), var(--kd-color-rag-error-100));
  --kd-color-tags-background-error: light-dark(var(--kd-color-rag-error-20), var(--kd-color-rag-error-20));
  --kd-color-tags-background-success: light-dark(var(--kd-color-rag-success-20), var(--kd-color-rag-success-20));
  --kd-color-tags-background-warning: light-dark(var(--kd-color-rag-warning-20), var(--kd-color-rag-warning-20));
  --kd-color-tags-background-blue: light-dark(var(--kd-color-rag-information-20), var(--kd-color-rag-information-20));
  --kd-color-tags-background-critical-dark: light-dark(var(--kd-color-rag-critical-100), var(--kd-color-rag-critical-100));
  --kd-color-tags-background-critical-light: light-dark(var(--kd-color-rag-critical-20), var(--kd-color-rag-critical-20));
  --kd-color-tags-background-success-dark: light-dark(var(--kd-color-rag-success-100), var(--kd-color-rag-success-100));
  --kd-color-tags-background-warning-dark: light-dark(var(--kd-color-rag-warning-100), var(--kd-color-rag-warning-100));
  --kd-color-tags-hover-cat-1: light-dark(var(--kd-color-sea-20), var(--kd-color-sea-20));
  --kd-color-tags-hover-cat-2: light-dark(var(--kd-color-jade-20), var(--kd-color-jade-40));
  --kd-color-tags-hover-cat-3: light-dark(var(--kd-color-amber-20), var(--kd-color-amber-40));
  --kd-color-tags-hover-cat-4: light-dark(var(--kd-color-blush-20), var(--kd-color-blush-40));
  --kd-color-tags-hover-cat-5: light-dark(var(--kd-color-lilac-20), var(--kd-color-lilac-40));
  --kd-color-tags-hover-cat-6: light-dark(var(--kd-color-ai-interactive-15), var(--kd-color-ai-interactive-25));
  --kd-color-tags-hover-interactive: light-dark(var(--kd-color-interactive-30), var(--kd-color-interactive-30));
  --kd-color-tags-hover-spruce: light-dark(var(--kd-color-spruce-20), var(--kd-color-spruce-30));
  --kd-color-tags-hover-blue: light-dark(var(--kd-color-rag-information-100), var(--kd-color-rag-information-100));
  --kd-color-tags-hover-gray: light-dark(var(--kd-color-cool-gray-20), var(--kd-color-cool-gray-30));
  --kd-color-tags-hover-error-light: light-dark(var(--kd-color-rag-error-100), var(--kd-color-rag-error-100));
  --kd-color-tags-hover-warning-light: light-dark(var(--kd-color-rag-warning-100), var(--kd-color-rag-warning-100));
  --kd-color-tags-hover-success-light: light-dark(var(--kd-color-rag-success-100), var(--kd-color-rag-success-100));
  --kd-color-tags-hover-warning: light-dark(var(--kd-color-rag-warning-20), var(--kd-color-rag-warning-20));
  --kd-color-tags-hover-success: light-dark(var(--kd-color-rag-success-20), var(--kd-color-rag-success-20));
  --kd-color-tags-hover-critical-light: light-dark(var(--kd-color-rag-critical-100), var(--kd-color-rag-critical-100));
  --kd-color-tags-hover-blue-dark: light-dark(var(--kd-color-rag-information-20), var(--kd-color-rag-information-20));
  --kd-color-tags-hover-critical-dark: light-dark(var(--kd-color-rag-critical-20), var(--kd-color-rag-critical-20));
  --kd-color-tags-hover-error: light-dark(var(--kd-color-rag-error-20), var(--kd-color-rag-error-20));
}