:root {
  --kd-color-neutral-black: #000000;
  --kd-color-neutral-webgray: #fafafc;
  --kd-color-neutral-white: #ffffff;
  --kd-color-neutral-lavender-opacity: #0e0e17e6;
  --kd-color-neutral-div-02-neutral: #ebf8fe;
  --kd-color-neutral-div-01-neutral: #deffef;
  --kd-color-spruce-10: #ddf0f3;
  --kd-color-spruce-20: #8ecfd9;
  --kd-color-spruce-30: #3fadbd;
  --kd-color-spruce-40: #3797a4;
  --kd-color-spruce-50: #2f808c;
  --kd-color-spruce-60: #29707a;
  --kd-color-spruce-70: #215763;
  --kd-color-spruce-80: #193d4b;
  --kd-color-spruce-90: #132632;
  --kd-color-spruce-100: #090a1c;
  --kd-color-skye-10: #e4f4f1;
  --kd-color-skye-20: #aadcd3;
  --kd-color-skye-30: #5fbeac;
  --kd-color-skye-40: #44a895;
  --kd-color-skye-50: #38887b;
  --kd-color-skye-60: #2c6e61;
  --kd-color-skye-70: #23564d;
  --kd-color-skye-80: #193f38;
  --kd-color-skye-90: #102824;
  --kd-color-skye-100: #091714;
  --kd-color-deep-forest-10: #a3f4cf;
  --kd-color-deep-forest-20: #19db83;
  --kd-color-deep-forest-30: #15be72;
  --kd-color-deep-forest-40: #13a865;
  --kd-color-deep-forest-50: #0f8853;
  --kd-color-deep-forest-60: #0d7546;
  --kd-color-deep-forest-70: #0a5734;
  --kd-color-deep-forest-80: #074127;
  --kd-color-deep-forest-90: #042315;
  --kd-color-deep-forest-100: #02150d;
  --kd-color-spring-green-10: #c4f3d6;
  --kd-color-spring-green-20: #4cdd84;
  --kd-color-spring-green-30: #24c060;
  --kd-color-spring-green-40: #1fa452;
  --kd-color-spring-green-50: #1b904b;
  --kd-color-spring-green-60: #187e3f;
  --kd-color-spring-green-70: #10592c;
  --kd-color-spring-green-80: #0d4422;
  --kd-color-spring-green-90: #072914;
  --kd-color-spring-green-100: #03140a;
  --kd-color-warm-red-10: #fededa;
  --kd-color-warm-red-20: #fec1b9;
  --kd-color-warm-red-30: #ff9688;
  --kd-color-warm-red-40: #ff6b57;
  --kd-color-warm-red-60: #ff2306;
  --kd-color-warm-red-70: #cc1800;
  --kd-color-warm-red-80: #9b1200;
  --kd-color-warm-red-90: #6a0c00;
  --kd-color-warm-red-100: #410700;
  --kd-color-warm-red-50-brand: #ff462d;
  --kd-color-earth-10: #f5f4f3;
  --kd-color-earth-20: #dcd8d4;
  --kd-color-earth-30: #bfb7b0;
  --kd-color-earth-40: #9e9287;
  --kd-color-earth-50: #8b7d71;
  --kd-color-earth-60: #70655b;
  --kd-color-earth-70: #565049;
  --kd-color-earth-80: #3f3833;
  --kd-color-earth-90: #2d2824;
  --kd-color-earth-100: #161412;
  --kd-color-cloud-10: #f2f1ee;
  --kd-color-cloud-20: #dddad3;
  --kd-color-cloud-30: #bdb8a9;
  --kd-color-cloud-40: #a49d89;
  --kd-color-cloud-50: #8a826a;
  --kd-color-cloud-60: #6e6854;
  --kd-color-cloud-70: #534e3f;
  --kd-color-cloud-80: #3c382d;
  --kd-color-cloud-90: #29271f;
  --kd-color-cloud-100: #171511;
  --kd-color-dark-stone-10: #f9f9f9;
  --kd-color-dark-stone-20: #dcdad8;
  --kd-color-dark-stone-30: #bcbab8;
  --kd-color-dark-stone-40: #a8a5a6;
  --kd-color-dark-stone-50: #898888;
  --kd-color-dark-stone-60: #6d6d6d;
  --kd-color-dark-stone-70: #515151;
  --kd-color-dark-stone-80: #3d3c3c;
  --kd-color-dark-stone-90: #272727;
  --kd-color-dark-stone-100: #161616;
  --kd-color-warm-gray-10: #f1f0f0;
  --kd-color-warm-gray-20: #d9d7d7;
  --kd-color-warm-gray-30: #c1bebe;
  --kd-color-warm-gray-40: #a5a0a0;
  --kd-color-warm-gray-50: #8d8888;
  --kd-color-warm-gray-60: #746f6f;
  --kd-color-warm-gray-70: #565353;
  --kd-color-warm-gray-80: #423f3f;
  --kd-color-warm-gray-90: #2d2b2b;
  --kd-color-warm-gray-100: #141313;
  --kd-color-cool-gray-3: #fcfcfc;
  --kd-color-cool-gray-5: #fafbfb;
  --kd-color-cool-gray-7: #f8f9f9;
  --kd-color-cool-gray-8: #f5f6f6;
  --kd-color-cool-gray-10: #edf1f2;
  --kd-color-cool-gray-15: #e1e5e7;
  --kd-color-cool-gray-20: #d5d9db;
  --kd-color-cool-gray-30: #b6bdc0;
  --kd-color-cool-gray-40: #97a1a6;
  --kd-color-cool-gray-50: #79858b;
  --kd-color-cool-gray-60: #667076;
  --kd-color-cool-gray-70: #4b5357;
  --kd-color-cool-gray-80: #383e41;
  --kd-color-cool-gray-85: #2d3234;
  --kd-color-cool-gray-90: #222527;
  --kd-color-cool-gray-93: #1e2123;
  --kd-color-cool-gray-95: #1a1d1e;
  --kd-color-cool-gray-97: #16191a;
  --kd-color-cool-gray-100: #121415;
  --kd-color-ai-interactive-10: #d4d4e8;
  --kd-color-ai-interactive-15: #bbbbdb;
  --kd-color-ai-interactive-20: #a2a2ce;
  --kd-color-ai-interactive-25: #8988c0;
  --kd-color-ai-interactive-30: #706fb3;
  --kd-color-ai-interactive-35: #5756a6;
  --kd-color-ai-interactive-40: #484786;
  --kd-color-ai-interactive-45: #403f74;
  --kd-color-ai-interactive-50: #373662;
  --kd-color-ai-interactive-60: #2f2e50;
  --kd-color-ai-interactive-70: #26263f;
  --kd-color-ai-interactive-75: #1a1924;
  --kd-color-ai-interactive-80: #15151b;
  --kd-color-ai-interactive-90: #121219;
  --kd-color-ai-interactive-100: #0e0e17;
  --kd-color-ai-interactive-05: #e1e1ef;
  --kd-color-ai-interactive-01: #f5f5fa;
  --kd-color-ai-interactive-opaque-45-75pct: #403f74bf;
  --kd-color-ai-interactive-opaque-45-50pct: #403f7480;
  --kd-color-ai-interactive-opaque-45-5pct: #403f741a;
  --kd-color-ai-interactive-opaque-30-80pct: #706fb3cc;
  --kd-color-ai-interactive-opaque-40-40pct: #48478666;
  --kd-color-ai-interactive-shadow-light-15: #8988c026;
  --kd-color-ai-interactive-shadow-light-20: #8988c033;
  --kd-color-ai-interactive-shadow-light-30: #8988c04d;
  --kd-color-ai-interactive-shadow-light-50: #8988c080;
  --kd-color-ai-interactive-shadow-dark-15: #37366226;
  --kd-color-ai-interactive-shadow-dark-20: #37366233;
  --kd-color-ai-interactive-shadow-dark-30: #3736624d;
  --kd-color-ai-interactive-shadow-dark-50: #37366280;
  --kd-color-ai-interactive-shadow-dark-15-2: #373662;
  --kd-color-accent-01: #ffd52c;
  --kd-color-accent-02: #ff8419;
  --kd-color-opacity-light-3: #ffffff08;
  --kd-color-opacity-light-5: #ffffff0d;
  --kd-color-opacity-light-10: #ffffff1a;
  --kd-color-opacity-light-20: #ffffff33;
  --kd-color-opacity-light-30: #ffffff4d;
  --kd-color-opacity-light-40: #ffffff66;
  --kd-color-opacity-light-50: #ffffff80;
  --kd-color-opacity-light-86: #ffffffdb;
  --kd-color-opacity-light-95: #fffffff2;
  --kd-color-opacity-dark-0: #15191d00;
  --kd-color-opacity-dark-2: #15191d05;
  --kd-color-opacity-dark-3: #15191d08;
  --kd-color-opacity-dark-5: #15191d0d;
  --kd-color-opacity-dark-10: #15191d1a;
  --kd-color-opacity-dark-20: #15191d33;
  --kd-color-opacity-dark-30: #15191d4d;
  --kd-color-opacity-dark-40: #15191d66;
  --kd-color-opacity-dark-50: #15191d80;
  --kd-color-opacity-dark-85: #15191dcc;
  --kd-color-interactive-1: #fcfcfd;
  --kd-color-interactive-3: #f8f9fa;
  --kd-color-interactive-5: #f0f2f5;
  --kd-color-interactive-7: #e8ebf0;
  --kd-color-interactive-10: #d8dce1;
  --kd-color-interactive-15: #c8ccd2;
  --kd-color-interactive-20: #b8bdc3;
  --kd-color-interactive-30: #a9adb4;
  --kd-color-interactive-40: #999ea5;
  --kd-color-interactive-50: #898e96;
  --kd-color-interactive-60: #797f87;
  --kd-color-interactive-70: #6b7078;
  --kd-color-interactive-90: #4f555b;
  --kd-color-interactive-95: #41484d;
  --kd-color-interactive-100: #333a3f;
  --kd-color-interactive-105: #2c3236;
  --kd-color-interactive-107: #242a2e;
  --kd-color-interactive-110: #1d2125;
  --kd-color-interactive-115: #15191d;
  --kd-color-interactive-120: #0e1114;
  --kd-color-interactive-80-primary: #5d6369;
  --kd-color-misc-red-10: #ffc5c5;
  --kd-color-misc-red-20: #ffb0af;
  --kd-color-misc-red-25: #e48a9e;
  --kd-color-misc-red-30: #ff9997;
  --kd-color-misc-red-40: #fe807a;
  --kd-color-misc-red-50: #f86860;
  --kd-color-misc-red-60: #f04f45;
  --kd-color-misc-red-70: #d84134;
  --kd-color-misc-red-80: #bf3223;
  --kd-color-misc-red-90: #a52211;
  --kd-color-misc-red-100: #891000;
  --kd-color-misc-red-light: #f7e6e6;
  --kd-color-misc-red-dark: #cc1800;
  --kd-color-misc-red-05: #dcb8c0;
  --kd-color-misc-green-10: #c4f3d6;
  --kd-color-misc-green-20: #4cdd84;
  --kd-color-misc-green-25: #00c64a;
  --kd-color-misc-green-30: #24c060;
  --kd-color-misc-green-40: #1fa452;
  --kd-color-misc-green-50: #1b904b;
  --kd-color-misc-green-60: #187e3f;
  --kd-color-misc-green-70: #10592c;
  --kd-color-misc-green-80: #0d4422;
  --kd-color-misc-green-90: #072914;
  --kd-color-misc-green-100: #03140a;
  --kd-color-misc-green-dark: #00af41;
  --kd-color-misc-green-light: #e5f7eb;
  --kd-color-misc-blue-5: #cce1fe;
  --kd-color-misc-blue-10: #ace1f8;
  --kd-color-misc-blue-20: #95d3f0;
  --kd-color-misc-blue-30: #7ec4e9;
  --kd-color-misc-blue-40: #64b5e1;
  --kd-color-misc-blue-50: #48a5da;
  --kd-color-misc-blue-60: #3a94c6;
  --kd-color-misc-blue-70: #3082af;
  --kd-color-misc-blue-80: #236f96;
  --kd-color-misc-blue-90: #155b7f;
  --kd-color-misc-blue-100: #004765;
  --kd-color-misc-blue-110: #569aff;
  --kd-color-misc-blue-115: #005fea;
  --kd-color-misc-blue-light: #e9f2ff;
  --kd-color-misc-blue-dark: #2a6dd0;
  --kd-color-misc-yellow-5: #ffe88e;
  --kd-color-misc-yellow-10: #ffd46a;
  --kd-color-misc-yellow-15: #ffcd03;
  --kd-color-misc-yellow-20: #ffbc48;
  --kd-color-misc-yellow-25: #d4aa00;
  --kd-color-misc-yellow-30: #ffa329;
  --kd-color-misc-yellow-40: #ff850a;
  --kd-color-misc-yellow-50: #f26e01;
  --kd-color-misc-yellow-60: #d86301;
  --kd-color-misc-yellow-70: #bc5802;
  --kd-color-misc-yellow-80: #9e4d02;
  --kd-color-misc-yellow-90: #813f01;
  --kd-color-misc-yellow-100: #643000;
  --kd-color-misc-yellow-dark: #e8ba02;
  --kd-color-misc-yellow-light: #fef9e5;
  --kd-color-amber-10: #ffd46a;
  --kd-color-amber-20: #ffbc48;
  --kd-color-amber-30: #ffa329;
  --kd-color-amber-40: #ff850a;
  --kd-color-amber-50: #f26e01;
  --kd-color-amber-60: #d86301;
  --kd-color-amber-70: #bc5802;
  --kd-color-amber-80: #9e4d02;
  --kd-color-amber-90: #813f01;
  --kd-color-amber-100: #643000;
  --kd-color-blush-10: #f2c4e2;
  --kd-color-blush-20: #f3acd6;
  --kd-color-blush-30: #f493c5;
  --kd-color-blush-40: #f378b1;
  --kd-color-blush-50: #ee5d97;
  --kd-color-blush-60: #dc4b89;
  --kd-color-blush-70: #c4407e;
  --kd-color-blush-80: #ab3272;
  --kd-color-blush-90: #922365;
  --kd-color-blush-100: #781256;
  --kd-color-sea-10: #ace1f8;
  --kd-color-sea-20: #95d3f0;
  --kd-color-sea-30: #7ec4e9;
  --kd-color-sea-40: #64b5e1;
  --kd-color-sea-50: #48a5da;
  --kd-color-sea-60: #3a94c6;
  --kd-color-sea-70: #3082af;
  --kd-color-sea-80: #236f96;
  --kd-color-sea-90: #155b7f;
  --kd-color-sea-100: #004765;
  --kd-color-lilac-10: #e2c6ff;
  --kd-color-lilac-20: #d5b5f6;
  --kd-color-lilac-30: #c9a5ed;
  --kd-color-lilac-40: #bd93e5;
  --kd-color-lilac-50: #b181db;
  --kd-color-lilac-60: #a36fd0;
  --kd-color-lilac-70: #945cc2;
  --kd-color-lilac-80: #8548b4;
  --kd-color-lilac-90: #7431a4;
  --kd-color-lilac-100: #641195;
  --kd-color-jade-10: #9beeca;
  --kd-color-jade-20: #81e1b5;
  --kd-color-jade-30: #66d39f;
  --kd-color-jade-40: #49c588;
  --kd-color-jade-50: #25b574;
  --kd-color-jade-60: #00a275;
  --kd-color-jade-70: #008d72;
  --kd-color-jade-80: #00776b;
  --kd-color-jade-90: #00615f;
  --kd-color-jade-100: #004a4f;
}