:root {
  --kd-color-ai-interactive-10: #d4d4e8;
  --kd-color-ai-interactive-15: #bbbbdb;
  --kd-color-ai-interactive-20: #a2a2ce;
  --kd-color-ai-interactive-25: #8988c0;
  --kd-color-ai-interactive-30: #706fb3;
  --kd-color-ai-interactive-35: #5756a6;
  --kd-color-ai-interactive-40: #484786;
  --kd-color-ai-interactive-45: #403f74;
  --kd-color-ai-interactive-50: #373662;
  --kd-color-ai-interactive-60: #2f2e50;
  --kd-color-ai-interactive-70: #26263f;
  --kd-color-ai-interactive-75: #1a1924;
  --kd-color-ai-interactive-80: #15151b;
  --kd-color-ai-interactive-90: #121219;
  --kd-color-ai-interactive-100: #0e0e17;
  --kd-color-ai-interactive-05: #e1e1ef;
  --kd-color-ai-interactive-01: #f5f5fa;
  --kd-color-ai-interactive-opaque-45-75pct: #403f74bf;
  --kd-color-ai-interactive-opaque-45-50pct: #403f7480;
  --kd-color-ai-interactive-opaque-45-5pct: #403f741a;
  --kd-color-ai-interactive-opaque-30-80pct: #706fb3cc;
  --kd-color-ai-interactive-opaque-40-40pct: #48478666;
  --kd-color-ai-interactive-shadow-light-15: #8988c026;
  --kd-color-ai-interactive-shadow-light-20: #8988c033;
  --kd-color-ai-interactive-shadow-light-30: #8988c04d;
  --kd-color-ai-interactive-shadow-light-50: #8988c080;
  --kd-color-ai-interactive-shadow-dark-15: #37366226;
  --kd-color-ai-interactive-shadow-dark-20: #37366233;
  --kd-color-ai-interactive-shadow-dark-30: #3736624d;
  --kd-color-ai-interactive-shadow-dark-50: #37366280;
  --kd-color-ai-interactive-shadow-dark-15-2: #373662;
}
