:root {
  --kd-elevation-level-1: 0px 1px 2px
    var(--kd-color-utility-elevation-default-l1);
  --kd-elevation-level-2: 0px 2px 8px
    var(--kd-color-utility-elevation-default-l2);
  --kd-elevation-level-2-overflow: 0px 0px 6px
    var(--kd-color-utility-elevation-default-l2---overflow);
  --kd-elevation-level-3: 0px 2px 12px
    var(--kd-color-utility-elevation-default-l3);
  --kd-elevation-level-4: 0px 12px 16px
    var(--kd-color-utility-elevation-default-l4);

  --kd-elevation-level-1-ai: 0px 1px 2px var(--kd-color-utility-elevation-ai-l1);
  --kd-elevation-level-2-ai: 0px 2px 8px var(--kd-color-utility-elevation-ai-l2);
  --kd-elevation-level-2-overflow-ai: 0px 0px 6px
    var(--kd-color-utility-elevation-ai-l2---overflow);
  --kd-elevation-level-3-ai: 0px 2px 12px
    var(--kd-color-utility-elevation-ai-l3);
  --kd-elevation-level-4-ai: 0px 12px 16px
    var(--kd-color-utility-elevation-ai-l4);
}
