:root {
  --kd-shadow-menu: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --kd-background-blur-medium: blur(4px);
  --kd-header-height: 56px;
  --kd-local-nav-width: 56px;
  --kd-local-nav-width-expanded: 320px;
}
