:root {
  --kd-anim-duration-short: 150ms;
  --kd-anim-duration-med: 300ms;
  --kd-anim-duration-long: 400ms;
  --kd-anim-duration-x-long: 600ms;

  --kd-anim-easing-linear: linear;
  --kd-anim-easing-in: ease-in;
  --kd-anim-easing-out: ease-out;
  --kd-anim-easing-in-out: ease-in-out;
}
