@use 'breakpoints.scss';
@use '../mixins//index.scss';



:root {
  --kyn-spacing-gutter: 16px;
  --kyn-spacing-grid-gap: 32px;

  @media screen and (min-width: breakpoints.$bp-md) {
    --kyn-spacing-gutter: 32px;
  }

//Spacer Definitions
--kd-spacing-0: 0;
--kd-spacing-2: 2px;
--kd-spacing-4: 4px;
--kd-spacing-8: 8px;
--kd-spacing-12: 12px;
--kd-spacing-16: 16px;
--kd-spacing-24: 24px;
--kd-spacing-32: 32px;
--kd-spacing-40: 40px;
--kd-spacing-48: 48px;
--kd-spacing-64: 64px;
--kd-spacing-80: 80px;
--kd-spacing-96: 96px;
--kd-spacing-128: 128px;
--kd-spacing-160: 160px;
}



.kd-spacing-padding-0 {
  @include spacer-vertical(padding, var(--kd-spacing-0));
  }
 
.kd-spacing-padding-2 {
 @include spacer-vertical(padding, var(--kd-spacing-2));
    }
 
.kd-spacing-padding-4 {
  @include spacer-vertical(padding, var(--kd-spacing-4));
  }
 
.kd-spacing-padding-8 {
    @include spacer-vertical(padding, var(--kd-spacing-8));
    }
 
.kd-spacing-padding-12 {
   @include spacer-vertical(padding, var(--kd-spacing-12));
      }

.kd-spacing-padding-16 {
   @include spacer-vertical(padding, var(--kd-spacing-16));
           }      

.kd-spacing-padding-24 {
   @include spacer-vertical(padding, var(--kd-spacing-24));
        }
 
.kd-spacing-padding-32 {
   @include spacer-vertical(padding, var(--kd-spacing-32));
               }        
.kd-spacing-padding-40 {
   @include spacer-vertical(padding, var(--kd-spacing-40));
          }
 
.kd-spacing-padding-48 {
   @include spacer-vertical(padding, var(--kd-spacing-48));
            }
 
.kd-spacing-padding-64 {
  @include spacer-vertical(padding, var(--kd-spacing-64));
  }
  
.kd-spacing-padding-80 {
  @include spacer-vertical(padding, var(--kd-spacing-80));
    }
 
.kd-spacing-padding-96 {
    @include spacer-vertical(padding, var(--kd-spacing-96));
      }
 
.kd-spacing-padding-128 {
   @include spacer-vertical(padding, var(--kd-spacing-128));
        }
 
.kd-spacing-padding-160 {
   @include spacer-vertical(padding, var(--kd-spacing-160));
          }