/**
 * Copyright Kyndryl, Inc. 2023
 */

@use '../../scss/mixins/typography';

.kd-accordion {
  .toggle-container {
    text-align: right;
    padding: 8px 0;
    @include typography.type-body-02;

    a:hover {
      text-decoration: underline;
    }
  }

  kd-accordion-item:first-of-type {
    border-top: 1px;
    border-color: var(--kd-color-brand-sage);
    border-style: solid;
  }
}
