/**
 * Copyright Kyndryl, Inc. 2023
 */
@use '../../scss/global';
@use '../../scss/mixins/typography';

:host {
  display: block;
}

.kd-accordion-item {
  padding: 0px 0px;
  display: block;
  background-color: var(--kd-color-background-page-default);
  border-radius: inherit;

  &.filled-header {
    .kd-accordion-item-title {
      background-color: var(--kd-color-background-accent-subtle);

      &:hover {
        outline-width: 1px;
        outline-color: var(--kd-color-border-ui-default);
      }
    }

    .kd-accordion-item-body {
      border-top: 1px solid var(--kd-color-border-variants-light);
    }
  }

  &.compact .kd-accordion-item-title {
    padding: 16px;
  }

  & .kd-accordion-item-body {
    padding: 24px 16px;
    display: none;
  }

  &.opened.filled-header .kd-accordion-item-title {
    border-radius: 0;
  }

  &.opened .kd-accordion-item-body {
    display: block;
  }

  .icon {
    vertical-align: middle;
  }
}

.expand-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: auto;
  transition: transform 150ms ease-out;

  .opened & {
    transform: rotate(-180deg);
  }
}

.kd-accordion-item-title {
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background: none;
  position: relative;
  font-weight: var(--kd-font-weight-medium);
  padding: 24px 16px;
  outline: 2px solid transparent;
  transition: background-color 150ms ease-out, outline-color 150ms ease-out;
  outline-offset: -1px;

  &:hover {
    background-color: var(--kd-color-background-accent-subtle);
  }

  &:focus {
    outline-color: var(--kd-color-border-variants-focus);
  }

  .number,
  .icon {
    font-weight: var(--kd-font-weight-regular);
    padding-right: 2em;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .number {
    color: var(--kd-color-text-variant-placeholder);
  }

  .title {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .disabled & {
    color: var(--kd-color-text-link-level-disabled);
    background-color: var(--kd-color-background-page-default);
    outline: none;
  }
}

.kd-accordion-item-subtitle {
  @include typography.type-ui-02;
  font-weight: var(--kd-font-weight-regular);
  color: var(--kd-color-text-level-secondary);

  .disabled & {
    color: var(--kd-color-text-link-level-disabled);
  }
}

.disabled .kd-accordion-item-body {
  color: var(--kd-color-text-link-level-disabled);
}
