@use '../../scss/global.scss';

:host {
  display: inline-block;
  margin: 4px 0;
}

// base class
.kd-link-text {
  display: inline-flex;
  padding: 0 2px;
  position: relative;
  text-decoration: none;

  // Primary (app)
  &-primary {
    color: var(--kd-color-spruce-60);

    &:hover {
      color: var(--kd-color-spruce-50);
      font-weight: var(--kd-font-weight-medium);
    }
    &:focus {
      border: 1px solid var(--kd-color-spruce-60);
      text-decoration: none;
    }
    &:active {
      color: var(--kd-color-spruce-80);
      text-decoration: underline;
      border: none;
    }
    &:visited {
      color: var(--kd-color-spruce-60);
      text-decoration: underline;
    }
  }

  // Secondary (web)
  &-secondary {
    color: var(--kd-color-darkstone-80);

    &:hover {
      color: var(--kd-color-darkstone-60);
      font-weight: var(--kd-font-weight-medium);
    }
    &:focus {
      border: 1px solid var(--kd-color-spruce-60);
      text-decoration: none;
    }
    &:active {
      color: var(--kd-color-darkstone-100);
      text-decoration: underline;
      border: none;
    }
    &:visited {
      color: var(--kd-color-darkstone-80);
      text-decoration: underline;
    }
  }
  // Link disable class
  &-disabled {
    cursor: not-allowed;
    color: var(--kd-color-darkstone-40);
    text-decoration: none;
    border: none;
    outline: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: var(--kd-color-darkstone-40);
      border: none;
      text-decoration: none;
    }
  }

  // Link Inline - standalone classes
  &-inline {
    text-decoration: underline;
  }
  &-standalone {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

::slotted(kd-icon) {
  display: inline-flex;
  align-self: center;
  margin-left: 2px;
}
