@use '../../scss/global.scss';

:host {
  display: inline-block;
  margin: 4px 0;
}

// base class
.kd-link-text {
  display: inline-flex;
  padding: 0 2px;
  position: relative;
  text-decoration: none;

  &:hover {
    ::slotted(kd-icon) {
      transform: translate(4px, 0);
    }
  }

  // Primary (app)
  &-primary {
    color: var(--kd-color-text-link);

    &:hover {
      color: var(--kd-color-text-link-hover);
    }
    &:focus {
      color: var(--kd-color-text-tertiary);
      outline: 1px solid var(--kd-color-border-focus);
      text-decoration: none;
    }
    &:active {
      color: var(--kd-color-text-link-pressed);
      text-decoration: underline;
      outline: none;
    }
  }

  // Secondary (web)
  &-secondary {
    color: var(--kd-color-text-primary);

    &:hover {
      color: var(--kd-color-text-primary-hover);
    }
    &:focus {
      outline: 1px solid var(--kd-color-border-focus);
      text-decoration: none;
    }
    &:active {
      color: var(--kd-color-text-primary-pressed);
      text-decoration: underline;
      outline: none;
    }
  }
  // Link disable class
  &-disabled {
    cursor: not-allowed;
    color: var(--kd-color-darkstone-40);
    text-decoration: none;
    border: none;
    outline: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: var(--kd-color-darkstone-40);
      border: none;
      outline: none;
      text-decoration: none;
      ::slotted(kd-icon) {
        transform: translate(0px, 0);
      }
    }
  }

  // Link Inline - standalone classes
  &-inline {
    text-decoration: underline;
  }
  &-standalone {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &-inline-flex {
    display: inline-flex;
  }
}

::slotted(kd-icon) {
  display: inline-flex;
  align-self: center;
  margin-left: 0px;
  transition: 300ms ease-in-out;
}
